
@{
    ViewBag.Title = "اپلیکیشن";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<div class="container-app">
    <h1>اپلیکیشن</h1>
    <div class="box">
        <div class="cols">
            <p><strong>خواندنی ترین امروز</strong></p>
            <div class="best">
                <img src="~/imgs/items/app/bestApp.jpg" alt="عکسی از یک بازی" />
                <h5><a href="#">مشت های پولادین؛ معرفی بازی Iron Kill - Clash of Robotscontent</a></h5>
            </div>
        </div>
        <div class="cols">
            <p><strong>خواندنی ترین‌های هفته</strong></p>
            <div class="recycler">
                <a href="#" style="display:block">
                    <img src="~/imgs/items/app/recyclerApp1.jpg" alt="عکس کلی از جمیل" />
                    <h5>جیمیل برای مقابله با اسکمرها لوگوی شرکت ها را به ایمیل آنها اضافه می کند</h5>
                </a>
                <a href="#" style="display:block">
                    <img src="~/imgs/items/app/recyclerApp2.jpg" alt="عکسی از ویجت ساعت روی موبایل" />
                    <h5>جعبه ابزار: 10 ویجت اندروید که حتما باید امتحان کنید</h5>
                </a>
                <a href="#" style="display:block">
                    <img src="~/imgs/items/app/recyclerApp3.png" alt="عکس از اموجی" />
                    <h5>اموجی های جدید برای اندروید و iOS به مناسبت روز جهانی اموجی</h5>
                </a>
                <a href="#" style="display:block">
                    <img src="~/imgs/items/app/recyclerApp4.jpg" alt="عکس از اموجی" />
                    <h5>معرفی بازی Game of Thrones Beyond the Wall؛ نگهبانان شب، آنسوی دیوار</h5>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-full">
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/app/app1.jpg" alt="عکسی از بازی های کمان دار" />
        </div>
        <h5>
            وقتی کمان حرف اول را می‌زند؛ معرفی بهترین بازی‌های کمانداری موبایل
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            با وجود این همه اسلحه رنگارنگ و متنوعی که در بازی‌ها دیده‌ایم همچنان تیراندازی با کمان لذت خاص خودش را
            دارد، از آن چیزهایی که انگار قرار نیست در بازی‌های ویدیویی تکراری شوند. معرفی بازی Marshmello Music Dance؛ مارشملو حالا روی موبایل شبیه‌سازهای رضایت بخش، معرفی یکی از عجیب‌ترین سبک‌های موبایل 
            معرفی بازی The Lord...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/app/app2.jpg" alt="عکسی از تبلت اندروید" />
        </div>
        <h5>
            جعبه ابزار: ۱۲ اپلیکیشن اندروید که برای تبلت بهینه‌سازی شده‌اند
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            این که گوگل از آغاز کار اندروید خیلی به تبلت‌ها علاقه‌ نشان نمی‌داده بر کسی پوشیده 
            نیست. اگر چه تبلت‌های اندرویدی از پس اجرای تمام اپ‌های این سیستم عامل بر می‌آیند، ولی کمتر اپی را می‌بینید که
            به طور اختصاصی برای نمایشگرهای بزرگ تبلت بهینه‌سازی شده باشد. حتی بعضی برنامه‌ها هستند که اجازه چرخش افقی...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/app/app3.jpg" alt="عکسی از بازی" />
        </div>
        <h5>
            معرفی بازی Marshmello Music Dance؛ مارشملو حالا روی موبایل
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            با آن ده میلیون کاربرِ فورتنایتی که به تماشای کنسرت مجازی مارشملو نشستند، منطقی بود یک روزی Marshmello Music Dance را ببینیم. نه اینکه مارشملو با این کنسرت مجازی به محبوبیت رسید.تا قبل از این ایونت هم او یکی از معروف‌ترین دی جی‌های دنیا بود اما
            این کنسرت مجازی روی دیگری از محبوبیت مارشملو را نشان...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/app/app4.jpg" alt="درباره تلگرام" />
        </div>
        <h5>
            تلگرام ۶.۳ منتشر شد؛ ارسال فایل تا ۲ گیگابایت و انتخاب ویدیو برای تصویر پروفایل
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            تلگرام آپدیت بزرگی برای پیام رسان خود منتشر کرده که قابلیت‌های جدیدی را به 
            این اپ اضافه می‌کند. از مهم ترین این قابلیت‌ها می‌توان به انتخاب ویدیو به عنوان تصویر پروفایل و ارسال فایل‌ تا
            ۲ گیگابایت اشاره کرد.پیام رسان تلگرام روز گذشته به نسخه ۶.۳ بروزرسانی شد و قابلیت‌های جدیدی را دریافت کرد. حالا...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
</div>

