
@{
    ViewBag.Title = "هواوی";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<div class="container-full">
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/huawei/huawei1.jpg" alt="Alternate Text" />
        </div>
        <h5>
            برای اولین بار در ۱۰ سال گذشته فروش فصلی واحد موبایل هواوی از سامسونگ بیشتر شد
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            طبق گزارشی که موسسه Canalys منتشر کرده هواوی و سامسونگ در سه ماهه دوم سال مالی ۲۰۲۰ مشترکا جایگاه نخست بزرگترین تولید کننده موبایل دنیا را
            (با کمی اختلاف) کسب کردند. این گزارش بعد از آن منتشر می شود که موسسه تحقیقاتی Counterpoint چندی قبل اعلام کرد هواوی در ماه آوریل ۲۰۲۰ سامسونگ را در بازار موبایل...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/huawei/huawei2.jpg" alt="Alternate Text" />
        </div>
        <h5>
            سرویس های موبایلی هواوی حالا ۷۰۰ میلیون کاربر دارند
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            نوزدهمین کنفرانس اینترنت چین دوم مردادماه
            برگزار شد و هوآوی به عنوان یکی از حاضران اطلاعات جدیدی در مورد سرویس‌های موبایلی خود (HMS) ارائه کرد.این شرکت ضمن ارائه گزارشی آماری
            در مورد زیرساخت HMS اعلام کرد که تعداد افراد فعال در بخش توسعه نرم‌ افزار مبتنی بر هسته مرکزی سرویس‌های موبایلی هوآوی به 1.6 میلیون...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/huawei/huawei3.jpg" alt="Alternate Text" />
        </div>
        <h5>
            مروری بر تاریخچه لپ‌تاپ‌های میت‌بوک هواوی
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            مروری بر تاریخچه لپ‌تاپ‌های میت‌بوک هواوی
            نوشته علی باقرزاده  ۰  شنبه، ۰۴ مرداد ۱۳۹۹
            هواوی در سال‌های اخیر لپ‌تاپ‌های خوش ساخت و با کیفیتی را روانه بازار کرده اما از عرضه اولین لپ‌تاپ خود به بازار راهی چندین ساله را پیموده است. در این مطلب قصد داریم تاریخچه لپ‌تاپ‌های سری میت‌بوک این شرکت را
            مرور می‌کنیم.اولین لپتاپ هواوی در ۲۱ فوریه ۲۰۱۶ در کنگره جهانی موبایل در بارسلون اسپانیا معرفی...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/huawei/huawei4.jpg" alt="Alternate Text" />
        </div>
        <h5>
            کوالکام و هواوی در صدر پردرآمدترین تولیدکننده‌های چیپست موبایل
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            با وجود تحریم‌های گسترده درآمد هواوی از تولید چیپست گوشی‌های هوشمند
            در سه ماهه‌ نخست ۲۰۲۰ نسبت به سامسونگ، اپل و مدیاتک بیشتر بوده است.بر اساس گزارشی که به تازگی از سوی موسسه
            Strategy Analytics منتشر شده، درآمد بازار جهانی چیپست گوشی در فصل اول ۲۰۲۰ رو به رشد بوده و این در حالی است...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
</div>
