
@{
    ViewBag.Title = "ایران";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<div class="container-full">
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/iran/iran1.jpg" alt="عکسی از ساختمان همراه اوّل" />
        </div>
        <h5>
            بررسی نماد «همراه»: آنچه باید درباره سهام شرکت ارتباطات سیار ایران بدانید
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            همراه نام نماد شرکت ارتباطات سیار ایران است که با نام «همراه اول» شناخته می شود.
            بزرگترین اپراتور تلفن همراه کشور که هنوز سایر رقبایش وارد بورس نشده‌اند. ۸۴ درصد سهام شرکت ارتباطات سیار 
            ایران در اختیار «شرکت مخابرات ایران» (اخابر) قرار دارد. همراه اول، یک شرکت خصوصی و سهامی عام و غیر دولتی بوده...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/iran/iran2.jpg" alt="عکسی از رمز پویا" />
        </div>
        <h5>
            بانک مرکزی اعلام کرد: کاهش ۸۵ درصدی فیشینگ با اجرای رمز دوم پویا
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            بانک مرکزی اعلام کرد که «افشای اطلاعات حساس کارت بانکی» و رخدادهای مرتبط با «فیشینگ درگاه‌های پرداخت» 
            در اسفند ۹۸ نسبت به میانگین رخدادهای شناسایی‌شده در ماه‌های ابتدایی سال (پیش از اجرای رمز دوم پویا)
            به ترتیب قریب به ۹۰ و ۸۵ درصد کاهش داشته است.روابط عمومی بانک مرکزی اعلام کرده که پس از پیاده...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/iran/iran3.jpg" alt="عکسی از سرعت اینترنت 5g در ایران" />
        </div>
        <h5>
            گزارش ویدیویی دیجیاتو: گفتگو با مدیرعامل ایرانسل و آزمایش سرعت 5G
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            هفته پیش بود که «حسن روحانی» در نشست هیات دولت خبر از راه‌اندازی 5G در تهران داد.
            همین خبر کوتاه باعث شد تا فضای رسانه‌ای حوزه تلکام به سرعت منفجر شود. چند دقیقه بعد مشخص شد که اولین سایت 5G توسط ایرانسل در پژوهشگاه ارتباطات قرار گرفته است و سپس تصاویری به شبکه‌های اجتماعی 
            راه...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
    <div class="sub-rows">
        <div class="frame-row-img">
            <img src="~/imgs/items/iran/iran4.jpg" alt="عکسی از تست کرونا" />
        </div>
        <h5>
            وزارت بهداشت تست کرونا در منزل توسط استارتاپ‌ها را ممنوع اعلام کرد
        </h5>
        <div class="info-writing">
            <span><i class="fa fa-user-circle-o"></i>نوشته </span>
            <span>محمد کریمی</span>
            <span>1399/5/9</span>
        </div>
        <div class="short-des">
            وزارت بهداشت انجام تست کرونا در خانه که توسط آزمایشگاه‌ها و تیم‌های استارتاپ‌های حوزه سلامت اجرا می‌شد را ممنوع اعلام کرد.«تست کرونا در منزل»، خدماتی بود که تا دیروز در بسیاری از 
            استارتاپ‌های حوزه سلامت ارائه می‌شد ولی به نظر می‌رسد با بخشنامه جدیدی که وزارت بهداشت خطاب به برخی از این مجموعه‌ها منتشر ساخته،...
            <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
        </div>
    </div>
</div>


