
@{
    ViewBag.Title = "سامسونگ";
    Layout = "~/Views/Shared/_Title.cshtml";
}
    <div class="container-full">
        <div class="sub-rows">
            <div class="frame-row-img">
                <img src="~/imgs/items/samsung/samsung1.jpg" alt="Alternate Text" />
            </div>
            <h5>
                رندرهای گلکسی زد فولد 2 5G منتشر شدند
            </h5>
            <div class="info-writing">
                <span><i class="fa fa-user-circle-o"></i>نوشته </span>
                <span>محمد کریمی</span>
                <span>1399/5/9</span>
            </div>
            <div class="short-des">
                فاصله کمتر از یک هفته تا رونمایی رسمی از گلکسی زد فولد 2 5 G، رندرهایی منتسب به آن منتشر شده که شمایل گوشی تاشوی بعدی
                سامسونگ را از جهات مختلف نشان می‌دهند.وب سایت
                MySmartPrice با انتشار گزارشی اختصاصی اعلام کرد که رندرهای باکیفیت گلکسی زد فولد 2 5G را از یک منبع موثق دریافت..
                <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
            </div>
        </div>
        <div class="sub-rows">
            <div class="frame-row-img">
                <img src="~/imgs/items/samsung/samsung2.jpg" alt="Alternate Text" />
            </div>
            <h5>
                قیمت احتمالی سری گلکسی نوت ۲۰ مشخص شد؛ گرانتر از همیشه
            </h5>
            <div class="info-writing">
                <span><i class="fa fa-user-circle-o"></i>نوشته </span>
                <span>محمد کریمی</span>
                <span>1399/5/9</span>
            </div>
            <div class="short-des">
                یکی از افشاگران دنیای تکنولوژی قیمت سری گلکسی نوت ۲۰ در بازار اروپا
                را فاش کرده که خبر از قیمت بالای مدل پایه می‌دهد.بر اساس اطلاعات فاش شده توسط Ishan Argawal که از افشاگران باسابقه دنیای تکنولوژی محسوب می‌شود، سامسونگ گلکسی نوت
                ۲۰ (مدل 4G) با شروع قیمت ۹۹۹ یورو و مدل 5G با شروع...
                <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
            </div>
        </div>
        <div class="sub-rows">
            <div class="frame-row-img">
                <img src="~/imgs/items/samsung/samsung4.jpg" alt="Alternate Text" />
            </div>
            <h5>
                گلکسی M01 Core معرفی شد؛ موبایل ۷۵ دلاری با اندروید Go
            </h5>
            <div class="info-writing">
                <span><i class="fa fa-user-circle-o"></i>نوشته </span>
                <span>محمد کریمی</span>
                <span>1399/5/9</span>
            </div>
            <div class="short-des">
                سامسونگ به معرفی گوشی‌های ارزان قیمت ادامه می‌دهد و پس از گلکسی A01 Core،
                این بار نوبت به گلکسی M01 Core با قیمت کمتر از ۱۰۰ دلار رسیده است.محصولات سری
                Core سامسونگ با قیمت پایینی به فروش می‌رسند و کاربران از چهارشنبه همین هفته می‌توانند در هند جدیدترین
                عضو این خانواده را خریداری کنند. گلکسی...
                <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
            </div>
        </div>
        <div class="sub-rows">
            <div class="frame-row-img">
                <img src="~/imgs/items/samsung/samsung5.jpg" alt="Alternate Text" />
            </div>
            <h5>
                افشای کامل مشخصات و تصاویر گلکسی نوت ۲۰ الترا؛ امکان استریم بیش از ۹۰ بازی Xbox
            </h5>
            <div class="info-writing">
                <span><i class="fa fa-user-circle-o"></i>نوشته </span>
                <span>محمد کریمی</span>
                <span>1399/5/9</span>
            </div>
            <div class="short-des">
                گرچه پیش از این با برخی توانایی‌های پرچمداران
                جدید سامسونگ آشنا شده بودیم، اما حالا لیستی کامل از مشخصات سخت افزاری و قابلیت‌های تازه موبایل گلکسی نوت 20 الترا 
                را در اختیار داریم که پیش از این به گوش نرسیده بود. در همین حین تصاویری تازه و واضح هم از این موبایل فاش شده است.بر...
                <a href="#"><span data-link="ادامه مطالب">ادامه مطالب</span></a>
            </div>
        </div>
    </div>


