<form class="forms">
    <h2>نظرات</h2>
    <p>لطفا نظر خود را وارد کنید.</p>
    <div class="group">
        <label for="nameUser">نام کاربری</label>
        <input type="text" id="nameUser" class="inputText">
    </div>
    <div class="group">
        <label for="comment"></label>
        <textarea placeholder="نظر.." id="comment"></textarea>
    </div>
    <div class="group">
        <label class="check italic">
            با <a href="#"> قوانین </a>این وب سایت موافقت می کنید.
            <input type="checkbox" name="pandect" id="pandect">
            <span class="check-mark"></span>
        </label>
    </div>
    <div class="group full">
        <label for="send"></label>
        <input type="submit" id="send" value="ارسال دیدگاه">
    </div>
    <div class="group full">
        <label for="show"></label>
        <input type="submit" id="show" value="نمایش دیدگاه">
    </div>
</form>
