<footer class="content-bottom">
    <div class="grid">
        <div class="cols" id="col1">
            <div class="box">
                <p class="brand"></p>
                <p>ما را در شبکه های اجتماعی دنبال کنید</p>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <div class="cols" id="col2">
            <div class="box">
                <h6>تماس با ما</h6>
                <p class="pre">
                    09102180601
                    mohammadkm0910@gmail.com
                    انفورماتیک تهران
                </p>
            </div>
        </div>
        <div class="cols" id="col3">
            <div class="box">
                <h6>آخرین پست ها</h6>
                <form action="#">
                    <label for="address-email">ارسال به ایمیل</label>
                    <input type="text" placeholder="آدرس ایمیل" id="address-email">
                    <button type="submit"><i class="fa fa-send"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <em>تمام حقوق وب سایت محفوظ است.</em>
    </div>
</footer>
