<div class="search">
    <form class="search-box">
        <input type="text" id="text" placeholder="جست و جو...">
        <label for="text"></label>
        <button type="button" id="search"><i class="fa fa-search"></i></button>
    </form>
</div>
