
@{
    ViewBag.Title = "خط بریل در هوا";
    Layout = "~/Views/Shared/_Title.cshtml";
}
<article class="content">
    <header>
        <img src="~/imgs/imgM1.jpg" alt="درباره خط بریل">
        <h1>ایجاد خط بریل در هوا از طریق سیستم هپتیک فراصوتی</h1>
    </header>
    <div class="parts">
        <p>
            برای افرادی که به خط بریل وابسته هستند، خواندن نمایشگرها و همچنین علائم در مکان‌های عمومی یک چالش محسوب می‌شود، البته سیستم جدید می‌تواند در این زمینه به آن‌ها کمک کند. سیستم «HaptiRead» یک دستگاه بازخورد هپتیکی است که از پالس‌های فراصوت در الگوهای دقیق برای تولید متن بریل در هوا استفاده می‌کند.

            بریل در مکان‌های عمومی اغلب به عنوان گره‌های ثابت روی علائم یا نمایشگرهای بریل تجدیدشونده که از خطوط پین‌ها با قابلیت تغییر متون استفاده می‌کند، وجود دارد. با وجود این موارد، افراد نابینا با مشکلات زیادی دست و پنجه نرم می‌کنند و این افراد در اولین برخورد نمی‌توانند به خوبی با آن‌ها ارتباط برقرار کنند. در کنار این موارد، لمس این صفحات در مکان‌های عمومی نگرانی‌های زیادی در زمینه بهداشتی در پی دارد.

            سیستم HaptiRead برای رفع تمام این مشکلات توسعه پیدا کرده. این دستگاه حداکثر ۸ نقطه هپتیکی در هوا با فاصله ۷۰ سانتی‌متر ایجاد می‌کند که می‌تواند نشان‌دهنده کاراکترهای مختلف در بریل باشد. یک دوربین تشخیص عمق «Leap Motion» در این دستگاه تعبیه شده که می‌تواند محل قرارگیری دست کاربر را متوجه شود و در برابر آن نقاط را قرار دهد.

            این دستگاه فاقد قسمت‌های متحرک است، بنابراین با گذر زمان دچار مشکلات نمی‌شود و کاربران نیازی به لمس سطح ندارند که مشکلات بهداشتی را برطرف می‌کند. توسط این سیستم می‌توان اطلاعات پیچیده مانند گرافیک‌ها و همچنین نمودارها را به نمایش گذاشت.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/brill.jpg" alt="لمس خط بریل" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>محققان در این زمینه که چگونه متن به بهترین شکل ممکن نمایش داده شود، تحقیق کرده‌اند. آن‌ها سه روش مختلف را آزمایش کرده‌اند که شامل موارد زیر می‌شود:</p>
        <ul class="list">
            <li>
                <p>ثابت: جایی که تمام نقاط به صورت همزمان در یک مکان نمایش داده می‌شوند.</p>
            </li>
            <li>
                <p>ردیف به ردیف: جایی که ردیفی از نقاط به صورت متوالی نشان داده می‌شوند.</p>
            </li>
            <li>
                <p>ردیف به ردیف: جایی که ردیفی از نقاط به صورت متوالی نشان داده می‌شوند.</p>
            </li>
            <li>
                <p>نقطه به نقطه: جایی که تنها یک نقطه در زمان واحد نمایش داده می‌شود.</p>
            </li>
        </ul>
        <p>تیم توسعه‌دهنده سیستم HaptiRead آن را روی ۱۸ شرکت‌کننده بینا و ۱۱ فرد نابینا آزمایش کردند. در طی این آزمایش از آن‌ها خواسته شد یک بریل نمایش داده شده را حس و کاراکتر را اعلام کند. در هر دو گروه روش نقطه به نقطه عملکرد بهتری داشت و افراد بینا و نابینا به ترتیب میانگین امتیاز دقت ۹۴ و ۸۸ درصدی را کسب کردند. با وجود این موارد، هنوز راه طولانی برای استفاده گسترده از این سیستم وجود دارد.</p>
    </div>
</article>
@section Comments{
    @Html.Action("Comments","Home")
}

