
@{
    ViewBag.Title = "چگونه بهترین قاب بندی دوربین را در تماس ویدیویی داشته باشیم؟";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<article class="content">
    <header>
        <img src="~/imgs/aside1.jpg" alt="">
        <h1>چگونه بهترین قاب بندی دوربین را در تماس ویدیویی داشته باشیم؟</h1>
    </header>
    <div class="parts">
        <p>
            چطور می‌توانیم در تماس‌های ویدیویی بهتر به‌نظر برسیم؟
            در ادامه از راهکارهایی گفتیم که می‌توانند در داشتن تصویر بهتر از خودتان در تماس ویدیویی برایتان سودمند باشند.
        </p>
        <br>
        <p>
            این روزها بسیاری از افراد ازطریق اپلیکیشن زوم و سایر اپلیکیشن‌های تماس ویدیویی،
            با دیگران به‌صورت کاری و شخصی در تعامل هستند و به‌نظر می‌رسد که این شرایط به‌زودی تغییر نمی‌کند. همانند جلسات حضوری،
            در تماس ویدیویی نیز مهم است که ظاهر خوب داشته باشید. در ادامه چند راهکار برای تماس‌های ویدیویی ارائه داده‌ایم.
        </p>
        <br>
        <h4>تنظیمات نور را درنظر داشته باشید</h4>
        <p>
            در استودیوهای حرفه‌ای، آنچه که ظاهر افراد را بهتر نشان می‌دهد نوع دوربین‌ نیست؛ بلکه نحوه نورپردازی است. فرقی نمی‌کند که تولیدکنندگان چقدر بابت لنز گران‌قیمت دوربین‌ها خرج کنند. اگر نورپردازی استودیو خوب نباشد،
            آن‌ها نمی‌توانند تصویر خوب از افراد حاضر در استودیو بگیرند. همین موضوع نیز برای تصویربرداری در خانه‌تان اهمیت دارد.
        </p>
        <p>
            البته لازم نیست که پس‌انداز زندگیتان را برای راه‌اندازی نورپردازی ۱۰٫۰۰۰ لومن استودیویی در خانه خرج کنید. تنها کافی است محلی را برای برقراری تماس ویدیویی در منزلتان انتخاب کنید که بهترین نورگیری را داشته باشد.
        </p>
        <br>
        <p>
            توجه داشته باشید که نور از بالای سرتان نتابد، زیرا روی صورت شما نور نامناسبی می‌اندازد و تصویرتان زیبا نمی‌شود.
            همچنین نوری که از پشت سرتان می‌تابد، صورت شما را تاریک می‌کند و پشت سرتان بسیار نورانی می‌شود. در اینجا حتی اگر برای بهتر شدن تصویرتان یک چراغ در مقابل خود قرار دهید، کمک زیادی به روشن شدن صورتتان نمی‌کند.
        </p>
        <br>
        <p>
            بنابراین محلی برای گرفتن ویدئو مناسب است که محل تابش نور، مقابل صورتتان باشد و ساده‌ترین محلی که می‌توانید با این نور پیدا کنید، مقابل پنجره است. درنتیجه یکی از بهترین ترفند‌ها برای
            اینکه از خود سلفی بگیرید یا بخواهید یک ارائه حرفه‌ای و کاری داشته باشید، این است که روبه‌روی پنجره قرار بگیرید. پس در مقابل بزرگ‌ترین و پرنورترین پنجره خانه‌تان بنشینید تا در تماس ویدیویی تصویر عالی داشته باشید.
        </p>
        <br>
        <h4>دوربین‌تان را بالاتر ببرید</h4>
        <p>
            قطعا چهره هیچ‌کس، از زیر چانه‌ زاویه‌ی خوبی ندارد و احتمالا محل وب‌کم لپ‌تاپ شما در همان زاویه قرار دارد. درواقع اولویت تولیدکنندگان لپ‌تاپ در طراحی، مواردی مانند عملکرد و قیمت است و ظاهر کاربر در دوربین را در نظر نمی‌گیرند.
        </p>
        <br>
        <p>
            در این راستا می‌توانید محل وب‌کم را مقابل یا بالاتر از سطح چشم‌هایتان قرار دهید تا ظاهر خوب در ویدئو داشته باشید؛ یعنی همان زاویه‌ای که بیشتر افراد شما را به‌صورت حضوری می‌بینند.
            برای تنظیم زاویه وب‌کم می‌توانید پایه لپ‌تاپ بخرید یا زیر آن چند کتاب قرار دهید. اگر از گوشی هوشمند استفاده می‌کنید
            ، می‌توانید با هرچه در دست دارید موقعیت مناسب آن را تنظیم کنید یا سه‌پایه کوچک بخرید. همچنین در صورتی که در حین مکالمه تصویری به کامپیوتر نیاز داشته باشید، می‌توانید کیبورد خارجی و موس بخرید.
        </p>
        <br>
        <p>
            بنابراین زمانی‌که طولانی مدت در ویدئو صحبت می‌کنید یا مطلبی را ارائه می‌دهید، تماس چشمی با مخاطبانتان را فراموش نکنید و تا جایی که ممکن است مستقیما به وب‌کم نگاه کنید. البته ممکن است صفحه‌نمایش حواستان را پرت کند ولی نکات زیر می‌تواند برای شما مفید باشد:
        </p>
        <ul class="list">
            <li>
                <p>
                    تصویر پیش‌نمایش خودتان را مخفی یا minimize کنید
                </p>
            </li>
            <li>
                <p>
                    نور صفحه را کم کنید؛ مگر اینکه لازم باشد افرادی را که با آن‌ها تماس گرفتید، ببینید. در نظر داشته باشید که با نگاه به وب‌کم با همه تماس چشمی برقرار کنید
                </p>
            </li>
        </ul>
        <h4>اتصال به اینترنت را بررسی کنید</h4>
        <p>
            تماس‌های ویدیویی به اینترنت سریع و با اتصال مداوم نیاز دارند. قطعا اگر اینترنت قطع شود، تصویرتان ناواضح و پیکسلی می‌شود.
        </p>
        <br>
        <p>
            اپلیکیشن‌های تماس ویدیویی مانند زوم، اسکایپ، فیس‌تایم و ... مرتبا کیفیت تماس ویدیویی دوطرف را تنظیم می‌کنند تا اتصال
            به اینترنت را حفظ کنند. یعنی اگر اتصال به اینترنت ضعیف باشد، تماس شما همچنان برقرار است ولی کیفیت تصویرتان کمتر خواهد بود.
        </p>
        <br>
        <p>
            اپلیکیشن زوم حداقل الزامات مورد نیاز سیستم را برای برقراری تماس ویدیویی مشخص کرده که به شرح زیر است:
        </p>
        <ul class="list">
            <li>
                <p>
                    برای برقراری تماس‌های یک به یک با کیفیت Full HD، حداقل سرعت لازم ۱.۸ مگابیت بر ثانیه لازم است.
                </p>
            </li>
            <li>
                <p>
                    برای برقراری تماس‌ ویدیویی گروهی با کیفیت Full HD، تماس‌گیرنده و کسی که تماس را دریافت می‌کند به ترتیب ۲.۵ و ۳ مگابیت بر ثانیه اینترنت لازم دارند.
                </p>
            </li>
        </ul>
        <p>
            برای بررسی سرعت اینترنت می‌توانید از نرم‌افزار Speedtest استفاده کنید. اگر سرعت اینترنت کمتر از ۳ مگابیت بر ثانیه باشد، نمی‌توانید تماس ویدیویی با کیفیت بالا بگیرید. حتی اگر سرعت اینترنت بین ۳.۵ تا ۴ مگابیت بر ثانیه باشد، ممکن است این سرعت کمتر شود و مشکلاتی را در کیفیت ویدئو ایجاد کند.
        </p>
        <br>
        <p>
            برای افزایش سرعت اینترنت می‌توانید تعداد اتصالات افراد دیگر به همان اینترنت را کاهش دهید یا از دستگاه با اتصال اترنت سیمی استفاده کنید.
        </p>
        <br>
        <h4>از بهترین دوربین خود استفاده کنید</h4>
        <p>
            دوربین لپ‌تاپ‌ها کیفیت متوسطی دارند؛ به‌خصوص اگر آن‌ها را با دوربین سلفی گوشی‌های هوشمند مدرن مقایسه کنید. مثلا دوربین ۱۲ مگاپیکسلی TrueDepth
            <span> آیفون ۱۱</span>خیلی بهتر از دوربین FaceTime 720 پیکسل<span> مک ‌‌بوک پرو ۱۶ اینچی </span>است. پس ظاهر افراد در تماس ویدیویی با گوشی<span> ایقون </span> ۱۱ نسبت به مک‌بوک بهتر است.
        </p>
        <p>
            البته برای تماس‌های کاری، استفاده از لپ‌تاپ آسان‌تر است ولی اگر گوشی هوشمند جدید دارید، خوب است که چند دقیقه برای تنظیم موقعیت و شارژ آن وقت بگذارید تا با استفاده از آن تصویر چهره بهتر داشته باشید.
        </p>
        <br>
        <p>
            علاوه بر گوشی هوشمند، گزینه بهتری نیز وجود دارد. اگر دوربین DSLR دارید، می‌توانید به‌عنوان وب‌کم از آن استفاده کنید. باید گفت که این دوربین‌ها به یک سری تنظیمات نیاز دارند و با همه آن‌ها نمی‌توان تماس ویدیویی گرفت، ولی در هرحال، ویدیویی با کیفیت می‌توانیم با آن‌ها بگیریم و نتیجه مطلوب خواهد بود.
        </p>
        <br>
        <p>
            پس رعایت چند نکته برای داشتن تصویر مناسب از خود در تماس ویدیویی زیاد سخت نیست. با
            هر اپلیکیشنی که تماس ویدیویی برقرار می‌کنید مانند زوم، فیس‌تایم، گوگل ‌میت، اسکایپ، اسلک، مایکروسافت تیمز و ... همیشه مطمئن شوید که بهترین ظاهر خود را دارید و تنظیم نور، موقعیت دوربین و هرچه که پیش‌تر ذکر شد را فراموش نکنید.
        </p>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}

