
@{
    ViewBag.Title = "چگونه ویدئوهای توییتر را در کامپیوتر، اندروید و iOS ذخیره کنیم؟";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<article class="content">
    <header>
        <img src="~/imgs/aside3.jpg" alt="درباره تویتتر">
        <h1>چگونه ویدئوهای توییتر را در کامپیوتر، اندروید و iOS ذخیره کنیم؟</h1>
    </header>
    <div class="parts">
        <p>
            در این مقاله می‌خواهیم راه‌کارها و روش‌های دانلود ویدئوهای توییتر در iOS، اندروید و رایانه شخصی را بررسی کنیم. با زومیت همراه شوید.
        </p>
        <br>
        <p>
            در حال حاضر به اشتراک‌گذاری ویدئو به یکی از قابلیت‌های محبوب توییتر تبدیل شده است که بسیاری از کاربران روزانه هزاران ویدئو را در حساب شخصی خود در دسترس عموم قرار می‌دهند؛ حتی شرکت‌ها و برندهای بزرگ نیز برای تبلیغ محصولات یا خدماتشان اقدام به اشتراک‌گذاری تیزرهای تبلیغاتی می‌کنند.
        </p>
        <br>
        <p>
            مشاهده ویدئوهای توییتر به سادگی صورت می‌گیرد. ویدئوها به‌صورت خودکار پخش می‌شوند؛ اما صدای آن‌ها در حالت پیش‌فرض روی حالت Mute قرار دارد. درواقع کاربر با کلیک روی ویدئو می‌تواند انتخاب کند که آیا صدای فیلم در حال پخش را بشنود یا خیر.
        </p>
    </div>
    <div class="frame-video">
        <video controls>
            <source src="~/clips/dt.mp4">
        </video>
    </div>
    <div class="parts">
        <p>
            با این حال، ذخیره‌سازی ویدئوهای توییتر در رایانه شخصی، تبلت یا گوشی هوشمند به سادگی صورت نمی‌گیرد و توییتر چنین قابلیتی را در اختیار کاربران خود قرار نداده است. به همین علت در نظر داریم که نحوه دانلود ویدئوهای توییتر در رایانه شخصی، اندروید و iOS را آموزش دهیم.
        </p>
        <br>
        <h4>
            آموزش دانلود ویدئوهای توییتر در رایانه شخصی
        </h4>
        <p>
            دانلود ویدئوهای توییتر در رایانه شخصی از ساده‌ترین روش‌های ممکن محسوب می‌شود و نیازی به دانلود و نصب اپلیکیشن یا نرم‌افزار جانبی ندارد. برای ذخیره‌سازی ویدئوهای توییتر در کامپیوتر خود مراحل زیر را طی کنید:
        </p>
        <br>
        <p>
            ۱. مرورگر خود را باز کرده و به سایت توییتر بروید. در نظر داشته باشید که برای دانلود ویدئوی مدنظرتان نیاز به ورود به حساب کاربری‌تان در توییتر وجود ندارد.
        </p>
        <br>
        <p>
            ۲. ویدئوی مدنظرتان را انتخاب کرده و روی آن راست کلیک کنید.
        </p>
        <br>
        <p>
            ۳. از منوی بازشده گزینه‌ی کپی آدرس ویدئو (Copy Video Address) را انتخاب کنید. با انجام این کار، آدرس ویدئوی مدنظر در کلیپ‌بورد کامپیوترتان ذخیره می‌شود.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dt.jpg" alt="عکسی از تویتتر" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            ۴. به سایت‌های مخصوص دانلود ویدئوهای توییتر بروید. از سایت‌های قابل دسترس و کاربردی می‌توان به DownloadtwitterVideo.com اشاره کرد که دسترسی به آن از طریق این لینک میسر است.
        </p>
        <br>
        <p>
            ۵. در صفحه اصلی سایت، کادری وجود دارد که باید لینک ویدئوی مدنظرتان را در آن قرار دهید. با راست کلیک در داخل کادر و انتخاب Paste یا فشردن دو دکمه کنترل
            و V از کیبوردتان به‌صورت همزمان، لینک ویدئو در داخل کادر قرار می‌گیرد. در صورتی که از مک استفاده می‌کنید با فشردن دکمه‌های Command + V لینک ویدئو را داخل کادر قرار دهید.
        </p>
        <p>
            ۶. دکمه اینتر را بزنید تا سایت شروع به بارگذاری ویدئو و تبدیل آن به فرمت MP4 کند.
        </p>
        <br>
        <p>
            ۷. در نظر داشته باشید که امکان دانلود ویدئو در دو حالت MP4 و MP4 HD وجود دارد که گزینه اول، ویدئو را با کیفیت پایین و گزینه دیگر نیز ویدئو را با کیفیت بهتری در اختیارتان قرار می‌دهد.
        </p>
        <br>
        <p>
            ۸. روی گزینه‌ی دلخواهتان کلیک کنید تا ویدئو با توجه به فرمت و کیفیت مشخص‌شده دانلود شود.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dt2.jpg" alt="عکسی از تویتتر" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            در نظر داشته باشید که مراحل انجام‌شده روی مرورگر کروم صورت گرفته است؛ اما می‌توان در مرورگرهای دیگر نیز از چنین راه‌کاری استفاده کرد.
        </p>
        <div class="border"></div>
        <h4>دانلود ویدئوهای توییتر در اندروید</h4>
        <p>
            برخلاف روش پیشین برای دانلود ویدئوهای توییتر در رایانه شخصی، دانلود
            چنین ویدئوهایی در توییتر کمی سخت‌تر است و نیاز به اپلیکیشن‌های جانبی دارد. با این حال، امکان دانلود سریع ویدئوها کماکان وجود دارد.
        </p>
        <p>
            ۱. اپلیکیشن<span> Download+ </span>را در دستگاه اندرویدی خود دانلود و نصب کنید. این اپلیکیشن رایگان است و برای دانلود ویدئوهای توییتر و تماشای آن‌ها در حالت آفلاین استفاده می‌شود.
        </p>
        <p>
            ۲. اپلیکیشن رسمی توییتر را باز کنید و به صفحه‌ی ویدئوی مدنظرتان بروید.
        </p>
        <p>
            ۳. زمانی که به صفحه‌ی ویدئوی مدنظرتان رفتید، گزینه اشتراک‌گذاری یا Share را انتخاب کنید.
        </p>
        <p>
            ۴. در صفحه‌ی بازشده اپلیکیشن Download+ را انتخاب کنید تا لینک ویدئوی مدنظرتان به اپلیکیشن معرفی شود.
        </p>
        <p>
            ۵. با انتخاب اپلیکیشن Download+ بارگذاری ویدئو به‌صورت خودکار شروع می‌شود.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dt3.jpg" alt="عکسی از تویتتر" onclick="scaleImg(this)">
        <div class="card">
            <p class="frame">دانلود اپلیکیشن Download+</p>
            <a href="https://play.google.com/store/apps/details?id=com.rosteam.saveinstaa" target="_blank">پلی استور</a>
            <p class="small-text">
                اپلیکیشن‌های محبوب خود را ازطریق ایمیل app@zoomit.ir<a href="/Home/Index"> دنیای فناوری </a> معرفی کنید.
            </p>
        </div>
    </div>
    <div class="parts">
        <h4>دانلود ویدئوهای توییتر در آیفون و آیپد</h4>
        <p>
            دانلود ویدئوهای توییتر در iOS نیز مانند اندروید نیاز به اپلیکیشنی جانبی دارد.
            با این حال، کمی پیچیده‌تر است و زمان بیشتری می‌برد. مراحل زیر را برای دانلود ویدئوهای توییتر در <span> ایفون </span>و<span> آیپد </span>طی کنید:
        </p>
        <br>
        <p>
            ۱. اپلیکیشن رایگان MyMedia را در آیفون یا آیپد خود دانلود و نصب کنید.
        </p>
        <br>
        <p>
            ۲. اپلیکیشن رسمی توییتر را باز کرده و به صفحه‌ی ویدئوی مدنظرتان بروید.
        </p>
        <br>
        <p>
            ۳. در صفحه اصلی منتسب به ویدئو، کنار آیکون قلب،
            آیکون دیگری وجود دارد که شبیه به تیری
            است که از جعبه‌ای شلیک می‌شود. روی آن ضربه بزنید تا صفحه‌ای پاپ‌آپ شود
        </p>
        <br>
        <p>
            ۴. از فهرست بازشده گزینه‌ی Share Tweet Via را انتخاب کنید.
        </p>
        <br>
        <p>
            ۵. صفحه‌ی جدیدی باز می‌شود. در میان موارد موجود در صفحه، گزینه‌ی کپی لینک (Copy Link) را انتخاب کنید.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dt4.jpg" alt="عکسی از تویتتر" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            ۶. به اپلیکیشن MyMedia بروید.
        </p>
        <br>
        <p>
            ۷. گزینه‌ی مرورگر یا Browser را از منوی موجود در انتهای صفحه انتخاب کنید.
        </p>
        <br>
        <p>
            ۸. در کادر بالا آدرس سایت www.twdown.net را وارد کنید.
        </p>
        <br>
        <p>
            ۹. در صفحه‌ی بازشده، کادری به نام Enter Video وجود دارد که لینک ذخیره‌شده از ویدئوی توییتر را باید در آن کادر وارد کنید.
        </p>
        <br>
        <p>
            ۱۰. پس از وارد کردن آدرس لینک ویدئو، پردازش آن شروع می‌شود و پس از اتمام پردازش، گزینه دانلود به نمایش درخواهد آمد.
        </p>
        <br>
        <p>۱۱. گزینه دانلود را بزنید.</p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dt5.jpg" alt="عکسی از تویتتر" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            ۱۲. صفحه جدیدی بازخواهد شد تا فرمت و رزولوشن ویدئو را انتخاب کنید.
        </p>
        <br>
        <p>
            ۱۳. با انتخاب فرمت و رزولوشن دلخواه، گزینه Download the File را بزنید. حال می‌توانید نام مناسب برای ویدئوی مدنظرتان را وارد کنید.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dt6.jpg" alt="عکسی از تویتتر" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            ۱۴. در تب مدیا می‌توانید ویدئوهای ذخیره‌شده خود را مشاهده کنید.
        </p>
        <br>
        <p>
            ۱۵. روی ویدئوی مدنظرتان در فهرست بازشده بروید، منویی برایتان باز خواهد شد.
            از منوی بازشده گزینه Save to Camera Roll را انتخاب کنید تا ویدئوی مدنظرتان در دستگاه ذخیره شود.
        </p>
    </div>
    <div class="zoom">
        <div class="card">
            <p class="frame">دانلود اپلیکیشن MyMedia</p>
            <a href="https://apps.apple.com/in/app/mymedia-file-manager/id412490864" target="_blank">اپ استور</a>
            <p class="small-text">
                اپلیکیشن‌های محبوب خود را ازطریق ایمیل app@zoomit.ir<a href="/Home/Index"> دنیای فناوری </a> معرفی کنید.
            </p>
        </div>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}
