
@{
    ViewBag.Title = "آموزش قدم به قدم دانلود کامل یک وب سایت";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<article class="content">
    <header>
        <img src="~/imgs/aside2.jpg" alt="درباره دانلود سایت">
        <h1>آموزش قدم به قدم دانلود کامل یک وب سایت</h1>
    </header>
    <div class="parts">
        <p>
            آیا با روش ذخیره کردن یک وب‌سایت آشنایی دارید؟ ما در این مقاله روش دانلود کامل سایت و مشاهده آفلاین آن با چهار ابزار کاربردی را آموزش خواهیم داد.
        </p>
        <br>
        <p>
            با اینکه<span> وای فای </span>در بسیاری از مراکز و حتی محیط خانه دردسترس قرار دارد، اما ممکن است هر چند از گاهی خودتان را بدون دسترسی به این شبکه مهم ببینید و دچار مشکل شوید. گاهی وقت‌ها برای همه ما اتفاق افتاده که در محیط بیرون خانه یا محل کار هستیم، اما نیازمند مرور یک وب‌سایت به منظور دستیابی به برخی اطلاعات مهم خواهیم بود. در صورتی که احتمال می‌دهید امکان دارد با چنین صحنه‌ای مواجه شوید، بهتر است روش دانلود کامل سایت را بدانید و از آن برای ذخیره‌سازی سایت‌ها و دسترسی آفلاین به آن‌ها استفاده کنید.
        </p>
        <br>
        <p>
            البته یک نکته در این میان وجود دارد که باید مورد توجه قرار دهید. به‌عنوان مثال، ذخیره‌سازی برخی صفحات وب برای مشاهده آفلاین ساده است، اما برای دانلود کامل سایت باید چه اقداماتی را انجام داد؟ خوب، این کار آسان‌تر از چیزی است که فکرش را می‌کنید. در این مقاله با هم خواهیم آموخت که چگونه یک سایت را ذخیره کنیم.
        </p>
        <div class="border"></div>
        <h4>۱- <span class="token">WebCopy</span></h4>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dw.jpg" alt="عکس web copy" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            در ابتدا بهتر است توجه داشته باشید که این ابزار برای ویندوز دردسترس قرار دارد. ابزار WebCopy می‌تواند یک URL وب‌سایت را بگیرد و آن را برای لینک‌ها، صفحات و رسانه، اسکن کند. این ابزار با یافتن صفحه‌ها و به‌صورت کاملا بازگشتی به‌دنبال پیوندها، صفحات و رسانه‌های بیشتر خواهد رفت تا زمانی‌که تمام وب‌سایت، دانلود شود.
        </p>
        <br>
        <p>
            یکی از ویژگی‌های جالب این ابزار را می‌توان تنظیم چندین پروژه دانست و هر کدام از پروژه‌ها هم دارای تنظیمات خاص خود هستند. با انجام این اقدامات می‌توان گفت که دانلود مجدد وب‌سایت‌های مختلف در هر زمانی‌که بخواهید، کار ساده‌ای خواهد بود. یک پروژه می‌تواند تعداد زیادی وب‌سایت را کپی کند، بنابراین از آن‌ها با یک برنامه سازمان‌یافته استفاده کنید.
        </p>
        <br>
        <p>روش دانلود کامل سایت با ابزار WebCopy:</p>
        <ul class="list">
            <li>
                <p>
                    برنامه را نصب و دانلود کنید.
                </p>
            </li>
            <li>
                <p>
                    وارد بخش فایل (File) شوید و در ادامه گزینه New را برای ایجاد یک پروژه جدید، انتخاب کنید.
                </p>
            </li>
            <li>
                <p>
                    مکان ذخیره‌سازی فایل را مطابق با نظر خودتان، تغییر داده و تنظیم کنید.
                </p>
            </li>
            <li>
                <p>
                    می‌توانید برخی از تغییرات و تنظیمات را از بخش پروژه‌ها (Project) و نقش‌ها (Rules)، تنظیم کنید.
                </p>
            </li>
            <li>
                <p>
                    وارد بخش فایل (File) شده و گزینه ذخیره‌سازی (Save as) را انتخاب کنید.
                </p>
            </li>
            <li>
                <p>
                    در نهایت روی گزینه Copy Website موجود در نوار ابزار به منظور آغاز عملیات، کلیک کنید.
                </p>
            </li>
        </ul>
        <p>
            هنگامی که کپی کردن یا دانلود وب‌سایت تمام شد، می‌توانید از برگه نتایج (Results) استفاده کرده تا وضعیت هر صفحه را مشاهده کنید. برگه خطاها (Errors) تمام مشکلاتی که ممکن است اتفاق افتاده باشد را نمایش خواهد داد و برگه Skipped هم نمایش‌دهنده فایل‌هایی است که دانلود نشده‌اند.
        </p>
        <p>
            از همه مهم‌تر باید به نقشه سایت (Sitemap) اشاره کنیم که ساختار کامل فهرست وب‌سایت را نمایش می‌دهد. برای مشاهده آفلاین وب‌سایت،<span> فایل اکسپلورر </span>را باز کرده و وارد پوشه‌ای شوید که برای ذخیره‌سازی تعیین کرده‌اید. Index.html را در مرورگر باز کرده و کار را آغاز کنید.
        </p>
        <div class="border"></div>
        <h4>۲-<span class="token"> HTTrack </span></h4>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dw2.jpg" alt="عکس HTTrack" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            همانند مورد قبل، بهتر است در ابتدا بگوییم که این ابزار برای ویندوز، لینوکس و اندروید دردسترس قرار دارد. براساس اطلاعات موجود، HTTrack در مقایسه با WebCopy، مشهورتر بوده و به دلیل متن‌باز بودن، می‌توان گفت عملکرد بهتری هم دارد و می‌توان از آن در سیستم‌عامل‌های مختلف دیگری استفاده کرد.
        </p>
        <br>
        <p>
            البته باید بدانید که رابط کاربری آن چندان چنگی به دل نمی‌زند، ولی عملکرد خوبی دارد و از نتیجه کار، راضی خواهید بود. HTTrack همانند WebCopy از یک رویکرد مبتنی بر پروژه استفاده می‌کند که به شما اجازه کپی چند وب‌سایت را خواهد داد. فراموش نکنید که تمام وب‌سایت‌ها، سازماندهی خواهند شد.
        </p>
        <br>
        <p>
            شما اجازه متوقف کردن و ادامه فرایند عملیات‌ را خواهید داشت. همچنین می‌توانید دستور دانلود مجدد فایل‌های قدیمی را صادر کنید که نتیجه آن، آپدیت شدن وب‌سایت‌های کپی شده است.
        </p>
        <ul class="list">
            <li>
                <p>برنامه را نصب و راه‌اندازی کنید.</p>
            </li>
            <li>
                <p>در ادامه روی گزینه Next به منظور آغاز پروژه جدید، کلیک کنید.</p>
            </li>
            <li>
                <p>
                    یک نام را برای پروژه تعیین کنید و در ادامه هم علاوه بر تعیین مسیر پروژه، باید گزینه Next را هم انتخاب کنید.
                </p>
            </li>
            <li>
                <p>
                    گزینه دانلود وب‌سایت (Download WebSite) را برای اقدام، انتخاب کرده و سپس URL هر وب‌سایت را در کادر موردنظر قرار دهید. همچنین می‌توانید نشانی اینترنتی را در یک پرونده TXT
                    ذخیره‌سازی و آن را وارد کنید؛ این کار باعث می‌شود در آینده و به منظور دانلود مجدد سایت، فرایند ساده‌تری را دنبال کنید. پس از آن باید روی گزینه Next کلیک کنید.
                </p>
            </li>
            <li>
                <p>پارامترها را در صورت تمایل، تنظیم و روی گزینه پایان (Finish) کلیک کنید.</p>
            </li>
        </ul>
        <p>
            پس از بارگیری همه چیز، می‌توانید با رفتن به جایی که پرونده‌ها بارگیری شده‌اند و در ادامه انتخاب index.html یا index.htm در مرورگر، وب‌سایت را به‌صورت آفلاین مشاهده کنید.
        </p>
        <div class="border"></div>
        <h4>۳-<span class="token"> SiteSucker </span></h4>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dw3.jpg" alt="عکس SiteSucker" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            این ابزار در مک و<span> ios </span>ردسترس قرار دارد و کاربران این دو سیستم‌عامل محبوب، می‌توانند از آن استفاده کنند. در صورتی که از مک استفاده می‌کنید، می‌توان گفت SiteSucker بهترین گزینه است. این ابزار ساده می‌تواند تمام وب‌سایت‌ها را مرور، دانلود و ذخیره‌سازی کند و در نهایت با همان ساختار، نمایش دهد. به‌عنوان مثال این ابزار می‌تواند کلیه تصاویر، فایل‌های پی دی اف و سایر موارد را به خوبی ذخیره‌سازی کند.
        </p>
        <br>
        <p>
            این ابزار دارای یک رابط کاربری تمیز و کاربردی بوده و می‌توان گفت که ساده‌تر از آن هم وجود ندارد. شما فقط URL موردنظرتان را در بخش مربوطه قرار می‌دهید و کلید Enter را خواهید زد.
        </p>
        <br>
        <p>
            یکی از ویژگی‌های بسیار عالی این ابزار را می‌توان قابلیت ذخیره‌سازی در یک فایل، سپس استفاده از آن فایل برای بارگیری مجدد همان فایل‌ها در آینده یا در یک دستگاه دیگر، عنوان کرد. این قابلیت به SiteSucker امکان توقف و آغاز مجدد عملیات را خواهد داد.
        </p>
        <br>
        <p>
            SiteSucker با قیمت ۵ دلار دردسترس قرار دارد و نسخه رایگان آن برای استفاده یک مدت زمان محدود هم دردسترس قرار ندارد؛ این یکی از معایب ابزار SiteSucker است. آخرین نسخه از این ابزار نیازمند سیستم‌عامل macOS ۱۰.۱۳ High Sierra یا جدیدتر از آن است. البته فراموش نکنید نسخه‌های قدیمی‌تر SiteSucker برای سیستم‌عامل‌های قدیمی mac هم دردسترس قرار دارد، اما امکان دارد فاقد برخی از ویژگی‌های جدید باشند.
        </p>
        <div class="border"></div>
        <h4>۴-<span class="token"> Wget </span></h4>
    </div>
    <div class="parts">
        <p>
            این ابزار برای ویندوز، مک و لینوکس دردسترس قرار دارد و به‌راحتی می‌توانید از آن استفاده کنید. Wget را می‌توان یک ابزار مخصوص فرمان‌دهی دانست که می‌تواند انواع فایل‌ها را روی پروتکل‌های HTTP و FTP بازیابی کند.
        </p>
        <br>
        <p>
            از آن جایی که وب‌سایت‌ها بر پایه HTTP اجرا می‌شوند و بیشتر پرونده‌های رسانه وب ازطریق HTTP یا FTP قابل دسترسی هستند، می‌توان نتیجه‌گیری کرد که Wget ابزاری عالی برای دانلود کامل سایت به حساب می‌آید.
        </p>
        <br>
        <p>
            با اینکه معمولا از Wget برای دانلود فایل‌های منفرد استفاده می‌شود، اما می‌توان از آن‌ها برای بارگیری همه صفحاتی که ازطریق صفحه اولیه پیدا می‌شوند، استفاده کرد:
        </p>
        <div class="rim">
            <p>
                Wget –r –p //www.makeuseof.com
            </p>
        </div>
        <p>
            بااین‌حال ممکن است برخی از وب‌سایت‌ها متوجه این مسئله شوند و از آن
            جلوگیری کنند. برای متوجه شدن این مسئله، می‌توانید خود را به‌عنوان یک<span> مرورگر </span>وب با یک رشته از کاربران، جابه‌جا کنید:
        </p>
        <div class="rim">
            <p>
                Wget –r –p –U Mozilla //www.makeuseof.com
            </p>
        </div>
        <p>
            اگر می‌خواهید ادب را رعایت کنید، باید سرعت بارگیری را هم محدود کنید.
        </p>
        <div class="rim">
            <p>
                Wget –r –p –U Mozilla –wait=10 –limit-rate=35K //www.makeuseof.com
            </p>
        </div>
        <p>در سیستم‌عامل مک می‌توانید Wget را با استفاده از یک دستور Homebrew Command: brew install wget نصب کنید.</p>
        <div class="border"></div>
        <h4>
            دانلود وب‌سایت در گوشی ازطریق مرورگر کروم
        </h4>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dw4.jpg" alt="عکس گوگل کروم اندروید" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            امکان دانلود وب‌سایت در <span> گوشی‌ موبایل </span>
            هم وجود دارد، اما فقط می‌توانید یک صفحه از وب‌سایت را برای مطالعه آفلاین، ذخیره‌سازی کنید.
        </p>
        <br>
        <p>
            به‌عنوان مثال شما می‌توانید با مرور به یک وب‌سایت ازطریق<span> مرورگر کروم، </span>روی منوی سه نقطه ضربه بزنید و در ادامه آیکون مربوط به دانلود را انتخاب کنید؛ هم‌اکنون موفق شده‌اید که صفحه وب‌سایت را به‌سادگی دانلود کنید. برای مشاهده آفلاین وب‌سایت هم کافی‌ست مجددا روی سه نقطه منو ضربه بزنید و وارد بخش دانلود (Dowsloads) شوید.
        </p>
        <div class="border"></div>
        <p>دانلود وب‌سایت در گوشی ازطریق مرورگر فایرفاکس</p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dw5.jpg" alt="عکس  فایرفاکس اندروید" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            یکی دیگر از مرورگرهای محبوب دسکتاپ و گوشی‌های هوشمند را می‌توان فایرفاکس معرفی کرد. ذخیره‌سازی و دانلود وب‌سایت در فایرفاکس، به گونه‌ای است که شما در نهایت یک فایل پی دی اف برای مطالعه آفلاین دریافت خواهید کرد. برای این کار باید وارد منوی اصلی شوید و پس از انتخاب Page، گزینه Save PDF را انتخاب کنید.
        </p>
        <br>
        <p>
            در ادامه شما می‌توانید با انتخاب برگه ابزارها (Tools) و سپس انتخاب Download، به کلیه فایل‌ها دسترسی پیدا خواهید کرد.
        </p>
        <div class="border"></div>
        <h4>دانلود وب‌سایت در گوشی ازطریق مرورگر سافاری</h4>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dw6.jpg" alt="عکس مرورگر سافاری" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            مرورگر سافاری در گوشی و دستگاه‌های اپل دردسترس قرار دارد و شما برای
            ذخیره‌سازی صفحات، می‌توانید آن‌ها را به لیست Reading اضافه کنید. برای انجام این کار، باید وارد سافاری شوید و سپس با انتخاب تنظیمات
            (Settings) و سافاری، گزینه ذخیره‌سازی خودکار آفلاین (Automatically Save Offline) را انتخاب و فعال کنید. شما می‌توانید مقالات را به
            ‌راحتی هرچه تمام‌تر و با انتخاب صفحه اشتراک‌گذاری و در ادامه انتخاب گزینه افزودن به لیست مطالعه (Add to Reading List)، ذخیره‌سازی کنید.
        </p>
        <div class="border"></div>
        <br>
        <h4>جمع‌بندی</h4>
        <p>
            هم‌اکنون که با روش دانلود کامل سایت آشنا شدید، دیگر نباید نگران باشید و می‌توانید در هر شرایطی، وب‌سایت‌های مورد علاقه خود را مشاهده کنید.
            البته به یاد داشته باشید که هر اندازه وب‌سایت بزرگ‌تر باشد، مدت زمان بارگیری هم بیشتر خواهد بود. بهترین وب‌سایت‌ها برای
            دانلود را می‌توان وب‌سایت‌هایی دانست که متن زیاد و درعین‌حال، تصاویر و فایل‌های رسانه‌ای کمتری دارند. در این مقاله سعی شد روش‌هایی
            را آموزش دهیم پیرامون آن که چگونه به‌صورت آفلاین باید سایت را دانلود کنیم و امیدواریم توانسته باشیم هر آن چه لازم است، ارائه کنیم.
        </p>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}

