@{
    ViewBag.Title = "فعال‌سازی میانبرهای کیبورد و فهرست میانبرهای کاربردی برای Gmail";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<article class="content">
    <header>
        <img src="~/imgs/aside5.jpg" alt="تصویری از جیمیل در دسکتاپ و موبایل">
        <h1>فعال‌سازی میانبرهای کیبورد و فهرست میانبرهای کاربردی برای Gmail</h1>
    </header>
    <div class="parts">
        <p>
            استفاده از میان‌برهای کیبورد در
            هر نرم‌افزاری باعث می‌شود سرعت کاربری بیشتری تجربه کنیم. در این مقاله، فهرستی
            از میانبرهای کاربردی جیمیل برای شما گردآوری شده است.
        </p>
        <br>
        <p>
            استفاده از کلیک‌های موس به‌تنهایی کاربری نرم‌افزار را کسل‌کننده و نارکارآمد جلوه خواهد داد؛
            بنابراین هر فردی که به‌صورت حرفه‌ای از نرم‌افزاری استفاده می‌کند، باید بتواند میان‌برهای آن را با کیبود روان اجرا کند تا تجربه‌ی بهتری برای خود رقم بزند.
        </p>
        <br>
        <p>
            میان‌برهای کیبورد<span> جمیل </span> نیز به کاربران کمک خواهد کرد با سرعت بیشتری به فرمان‌های ضروری دسترسی داشته باشند؛
            پس با ما همراه باشید تا مثل فردی حرفه‌ای در جیمیل همه‌چیز را مدیریت کنید و فقط از کیبورد کمک بگیرید.
        </p>
        <br>
        <p>
            مانی‌که کاربر بر میان‌برهای کیبورد جیمیل مسلط شود،<span> بهره وری </span>
            به‌شدت افزایش خواهد یافت. برای استفاده از<span> میان بر های </span>
            کیبورد در فضای جیمیل، ابتدا باید این قابلیت را فعال کنید. ناگفته نماند براساس بخش پشتیبانی<span> گوگل </span>، تمامی کیبوردها از قابلیت میان‌بر
            پشتیبانی نمی‌کنند.
        </p>
        <br>
        <h4>فعال‌سازی میان‌برهای کیبورد در جیمیل</h4>
        <p>
            ابتدا مطابق عکس به بخش تنظیمات کلی (All Settings) در گوشه‌ی بالا سمت راست بروید
            و روی آن کلیک کنید تا منو آن باز شود؛ سپس روی گزینه‌ی Settings کلیک کنید تا به بخش تنظیمات بروید.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/gs.jpg" alt="بحش تنظیمات جمیل" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            در این مرحله، توجه کنید در زبانه‌ی General باشید و به پایین صفحه اسکرول کنید تا گزینه‌ی KeyBoard Shortcts را مشاهده
            کنید. سپس، روی گزینه‌ی Keyboard Shortcuts On و درپایان برای اعمال تنظیمات در پایین صفحه روی Save Changes کلیک کنید.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/gs2.jpg" alt="بحش تنظیمات جمیل" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>حالا قابلیت پشتیبانی از میان‌برهای کیبورد در جیمیل برای شما فعال شده است و می‌توانید از میان‌برهای زیر برای گشت‌وگذار در جیمیل یا دسته‌بندی ایمیل‌ها یا هر عمل دلخواه با سرعت زیادی استفاده کنید.</p>
    </div>
    <div class="custom-table">
        <table>
            <tr class="title-row">
                <th colspan="2">
                    میان‌برهای صفحه‌کلید برای استفاده‌ی حرفه‌ای از جیمیل
                </th>
            </tr>
            <tr class="title-cols">
                <th>میان‌بر</th>
                <th>عملکرد</th>
            </tr>
            @foreach (var itemsTable in ViewBag.gs)
            {
                <tr>
                    <td>@itemsTable.Title</td>
                    <td>@itemsTable.Der</td>
                </tr>
            }
        </table>
    </div>
    <div class="parts">
        <p>
            اکنون می‌توانید همچون کاربری حرفه‌ای در محیط جیمیل نیز به ‌انجام فرمان‌های خود سرعت بخشید.
        </p>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}

