
@{
    ViewBag.Title = "شهر فناوری";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<div class="main-gallery">
    <div class="large">
        <a href="/Home/Bril">
            <img src="~/imgs/imgM1.jpg" alt="درباره ایجاد خط بریل" title="ایجاد خط بریل در هوا از طریق سیستم هپتیک فراصوتی" />
            <p><span>ایجاد خط بریل در هوا از طریق سیستم هپتیک فراصوتی</span></p>
        </a>
    </div>
    <div class="large">
        <a href="/Home/SpaceX">
            <img src="~/imgs/imgM2.jpg" alt="درباره سیستم عامل اسپیس ایکس" title="اسپیس ایکس از چه پردازنده و سیستم‌عاملی در راکت‌ها و فضاپیماها استفاده می‌کند؟" />
            <p><span>اسپیس ایکس از چه پردازنده و سیستم عاملی در راکت ها و فضاپیماها استفاده می‌کند؟</span></p>
        </a>
    </div>
</div>
<div class="main-gallery">
    <div class="medium">
        <a href="/Home/Submarine">
            <img src="~/imgs/imgMg1.jpg" alt="درباره زیر دریایی" />
            <p class="content">
                زیردریایی‌های بدون سرنشین و جستجوی تریلیون‌ها دلار ثروت در اعماق اقیانوس
            </p>
        </a>
    </div>

    <div class="medium">
        <a href="/Home/Self">
            <img src="~/imgs/imgMg2.jpg" alt="نقش فناوری خودران در تصادفات" />
            <p class="content">
                فناوری خودران فقط ۳۰ درصد تصادفات رانندگی را کاهش می‌دهد
            </p>
        </a>
    </div>
    <div class="medium">
        <a href="/Home/Robot">
            <img src="~/imgs/imgMg3.jpg" alt="درباره ی ربات های غول پیکر" />
            <p class="content">
                ربات‌های غول‌پیکری که ساخت مواد کامپوزیتی پیچیده را ممکن می‌کنند
            </p>
        </a>
    </div>
</div>
<hr>
<aside class="sideLeft">
    <p>آموزش</p>
    <article class="box">
        <a href="/Home/CameraFraming">
            <img src="~/imgs/aside1.jpg" alt="درباره قاب بتدی دوربین">
            <h3><span>چگونه بهترین قاب بندی دوربین را در تماس ویدیویی داشته باشیم؟</span></h3>
        </a>
    </article>
    <article class="box">
        <a href="/Home/DownloadWeb">
            <img src="~/imgs/aside2.jpg" alt="دانلود کامل یک سایت">
            <h3><span>آموزش قدم به قدم دانلود کامل یک وب سایت</span></h3>
        </a>
    </article>
    <article class="box">
        <a href="/Home/DownloadVideoTwitter">
            <img src="~/imgs/aside3.jpg" alt="درباره ویدو های تویتتر">
            <h3><span>چگونه ویدئوهای توییتر را در کامپیوتر، اندروید و iOS ذخیره کنیم؟</span></h3>
        </a>
    </article>
    <article class="box">
        <a href="/Home/VirtualDesktopWindows10">
            <img src="~/imgs/aside4.jpg" alt="درباره دسکتاپ مجازی ویندوز 10">
            <h3><span>چگونه از صفحه دسکتاپ مجازی در ویندوز 10 استفاده کنیم؟</span></h3>
        </a>
    </article>
    <article class="box">
        <a href="/Home/GmailShortcuts">
            <img src="~/imgs/aside5.jpg" alt="درباره ترفند های کاربردی gmail">
            <h3><span>فعال‌سازی میانبرهای کیبورد و فهرست میانبرهای کاربردی برای Gmail</span></h3>
        </a>
    </article>
</aside>
<div class="container">
    <article class="post">
        <div class="row">
            <img src="~/imgs/post1.jpg" alt="درباره اقدام IBM درباره فناوری تشخیص چهره">
        </div>
        <div class="row">
            <p>
                IBM هرگونه عرضه، تحقیق و توسعه فناوری تشخیص چهره را متوقف کرد
            </p>
        </div>
        <p>
            شرکت IBM در بیانیه‌ای رسمی اعلام کرد که توسعه و عرضه‌ی فناوری تشخیص چهره عمومی را متوقف و عرضه فناوری به مقام‌های قانون‌گذار را بازنگری می‌کند.
        </p>
        <div class="clear">
            <a href="/Post/IBMstoppedFaceRecognitionTechnology" class="custom-link">بیشتر</a>
        </div>
    </article>
    <article class="post">
        <div class="row">
            <img src="~/imgs/post2.jpg" alt="درباره بروزرسانی اخیر ویندوز 10">
        </div>
        <div class="row">
            <p>
                قابلیت شروع مجدد از بروزرسانی جدید ویندوز 10 حذف شد
            </p>
        </div>
        <p>
            بروزرسانی‌های سیستم عامل ویندوز 10 همواره مشکلات فراوانی را برای کاربران به همراه داشته است، به طور مثال بروزرسانی اخیر ویندوز 10 عملکرد دستگاه‌های پرینتر را با مشکلات جدی مواجه کرده است.
        </p>
        <div class="clear">
            <a href="/Post/MicrosoftRemoveWindows10FreshStart" class="custom-link">بیشتر</a>
        </div>
    </article>
    <article class="post">
        <div class="row">
            <img src="~/imgs/post3.jpg" alt="ساختار های ناشناخته در اعماق زمین">
        </div>
        <diV class="row">
            <p>
                کشف ساختارهای ناشناخته پنهان در اعماق زمین
            </p>
        </diV>
        <p>
            انشمندان موفق به کشف مناطق غیرعادی میان هسته مایع و لایه گوشته جامد زمین شده‌اند که از ساختارهای ناهمگن با جنس سنگ‌های داغ و متراکم تشکیل شده‌اند.
        </p>
        <div class="clear">
            <a href="/Post/DiscoverUnknownStructuresHiddenDeepUnderground" class="custom-link">بیشتر</a>
        </div>
    </article>
    <article class="post">
        <diV class="row">
            <img src="~/imgs/post4.jpg" alt="درباره گلکسی تب S7">
        </diV>
        <diV class="row">
            <p>
                رندرها و مشخصات گلکسی تب S7 از تبلتی قدرتمند و جذاب خبر می‌دهد
            </p>
        </diV>
        <p>
            در دنیایی که تبلت‌های اندرویدی با کیفیت به سختی پیدا می‌شوند، سامسونگ یکی از معدود تولیدکنندگان آنهاست و حالا مشخصات و رندرهای تبلت بعدی این شرکت افشا شده است.
        </p>
        <div class="clear">
            <a href="/Post/RenderingsAndSpecificationsGalaxyTabS7" class="custom-link">بیشتر</a>
        </div>
    </article>
</div>

