
@{
    ViewBag.Title = "ربات‌های غول‌پیکری که ساخت مواد کامپوزیتی پیچیده را ممکن می‌کنند";
    Layout = "~/Views/Shared/_Title.cshtml";
}
    <article class="content">
        <header>
            <img src="~/imgs/imgMg3.jpg" alt="درباره ربات های غول پیکر">
            <h1>ربات‌های غول‌پیکری که ساخت مواد کامپوزیتی پیچیده را ممکن می‌کنند</h1>
        </header>
        <div class="parts">
            <p>
                در مرکز ملی کامپوزیت‌ها در نزدیکی «بریستول»، ربات‌های غول‌پیکر
                در حال حرکت بازوهای خود هستند و آینده دنیای کامپوزیت‌ها را شکل می‌دهند
            </p>
            <br>
            <p>
                این مرکز تحقیقاتی ۸۰۰ میلیون پوندی یکی از هفت
                مرکزی تولیدی باارزش در بریتانیا است که برای کمک به کمپانی‌ها از نام‌های بزرگی مانند «ایرباس» و «استون مارتین» گرفته تا
                شرکت‌های کوچک، توسعه پیدا کرده و هزینه‌های تحقیقاتی آن‌ها را کاهش می‌دهد. «ریچارد اولدفیلد»، مدیر اجرایی «NCC» اعلام کرده:
            </p>
            <br>
            <div class="rim">
                <p>
                    «مواد کامپوزیت به خاطر ویژگی‌های منحصر به فرد خصوصیات جالبی دارند. با کاهش وزن یا
                    افزایش مقاومت می‌توان عملکرد آنها را بهبود بخشید و حتی با مواد دیگر ترکیب کرد.»
                </p>
            </div>
            <br>
            <p>
                یکی از نمونه‌های کلاسیک، «فیبر کربن» است که مقاومت و دوام فلز را با سبکی و انعطاف‌پذیری پارچه ترکیب می‌کند. در NCC، ده دستگاه بزرگ الیاف و رزین را با روش‌های مختلف با یکدیگر ترکیب می‌کنند تا کامپوزیت برای
                کاربردهای مختلف مانند تیغه‌های توربین موتور جت تولید شود. به گفته اولدفیلد، افراد می‌توانند با توجه به نیاز خود، مواد را تغییر دهند.
            </p>
            <br>
            <p>
                از آنجایی که ماده همزمان با قطعه ساخته می‌شود، نسبت به دیگر
                روش‌های تولید مانند برش بلوکی فلز ضایعات کمتری دارد. فعالان
                امیدوارند که این مواد کامپوزیتی با
                کاهش وزن موتورهای جت یا جایگزینی مواد سنگین در ساخت و سازها مانند بتن با مواد سبک‌تر، مصرف انرژی را کاهش دهند.
            </p>
            <br>
            <p>
                چندین سالی می‌شود که مواد کامپوزیتی در صنایع هوا و فضا مورد استفاده قرار می‌گیرند،
                اما طراحان هنوز از تمام پتانسیل آن استفاده نکرده‌اند. «انریکه گارسیا»، مدیر ارشد فناوری NCC در این زمینه گفته:
            </p>
            <br>
            <div class="rim">
                <p>
                    «ما در حال دور شدن از «فلز سیاه» هستیم که
                    در حقیقت تلاشی برای تکثیر آنچه فلز باید به نظر برسد، است. در حال حاضر ما کاملا روی طراحی برای کامپوزیت‌ها تمرکز کرده‌ایم.»
                </p>
            </div>
            <div class="zoom">
                <img src="~/imgs/posts/robot.jpg" alt="درباره ربات های غول پیکر" onclick="scaleImg(this)">
            </div>
            <div class="parts">
                <p>
                    بازوی رباتیک عظیمی که در تصویر بالا می‌بینید، جدیدترین بخش NCC است. این بازو الیاف مواد را به صورت قالب در الگوهای خاصی لایه‌بندی می‌کند تا محصول نهایی تعادل مناسبی از نظر قدرت و
                    انعطاف‌پذیری داشته باشد. الیاف از قبل به رزین آغشته شده‌اند که توسط یک لامپ گرم می‌شوند و با خنک شدن، سخت می‌شوند. صفحه چرخان در سمت راست امکان چرخش اجسام را فراهم می‌کند.
                </p>
            </div>
            <div class="zoom">
                <img src="~/imgs/posts/robot2.jpg" alt="درباره ربات های غول پیکر" onclick="scaleImg(this)">
            </div>
            <div class="parts">
                <p>
                    ماشین حاضر در تصویر بالا، یکپارچگی ساختار قطعات نهایی را با استفاده از فراصوت و واتر جت آزمایش می‌کند.
                    ربات‌های دوقلو بخش‌های نهایی را اسپری می‌کنند و سیستم
                    هرگونه نقص داخل ساختار را گوش می‌دهد. در نهایت، امید می‌رود که دقت ماشین‌های NCC به حدی برسد که دیگر نیازی به انجام این آزمایش‌ها نباشد.
                </p>
            </div>
            <div class="zoom">
                <img src="~/imgs/posts/robot3.jpg" alt="درباره ربات های غول پیکر" onclick="scaleImg(this)">
            </div>
            <div class="parts">
                <p>
                    رخی کامپوزیت‌ها پیش از تزریق رزین، بافته می‌شوند. این دستگاه بافندگی همانند یک «جولایی» کار می‌کند، اما امکان خلق اشکال پیچیده‌تر از فیبر را فراهم می‌کند. این دستگاه می‌تواند الیاف
                    را بکشد و همچنین در بخش‌های مشخصی، مقاومت آن را افزایش دهد. از این ماشین می‌توان برای ساخت وسایل پیچیده مانند فویل‌های L شکل استفاده کرد.
                </p>
            </div>
            <div class="zoom">
                <img src="~/imgs/posts/robot4.jpg" alt="درباره ربات های غول پیکر" onclick="scaleImg(this)">
            </div>
            <div class="parts">
                <p>
                    در تصویر بالا ردیفی از پدهای مکش را مشاهده می‌کنید که تنها بخشی از یک مجموعه عظیم برای ساخت بال هواپیمای
                    آینده است. دو ربات با وزن‌ ۴۶ و ۲۶
                    تن، قطعات پارچه را به شکل موردنیاز برش می‌دهند و سپس آن‌ها را با دقت بالایی روی یکدیگر قرار می‌دهند تا ساختار یک بال کامپوزیتی سبک وزن خلق شود.
                </p>
            </div>
        </div>
    </article>
@section Comments{
    @Html.Action("Comments","Home")
}