
@{
    ViewBag.Title = "فناوری خودران فقط ۳۰ درصد تصادفات رانندگی را کاهش می‌دهد";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<article class="content">
    <header>
        <img src="~/imgs/imgMg3.jpg" alt="درباره ماشین خودران">
        <h1>فناوری خودران فقط ۳۰ درصد تصادفات رانندگی را کاهش می‌دهد</h1>
    </header>
    <div class="parts">
        <p>
            افراد بسیاری بر این باور هستند که با ظهور فناوری خودران مشکلات ترافیکی، سوانح رانندگی و آلودگی هوا تا حد
            چشمگیری کاهش پیدا خواهد کرد؛ آنها همچنین معتقدند رانندگان خواهند توانست از وقت خود در پشت فرمان بهتر بهره‌برداری کنند.
        </p>
        <br>
        <p>
            برخی حتی پا را فراتر نهاده و عقیده دارند فناوری خودران می‌تواند تصادفات را به صفر برساند. اما تحقیق اخیری که توسط موسسه بیمه و ایمنی بزرگراه‌های آمریکا (IIHS)
            انجام شده، حکایت از آن دارد اتومبیل‌های کاملا خودران احتمالا قادر به حذف تنها یک سوم از تصادفات خواهند بود.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/self.jpg" alt="درباره ماشین خودران" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            این موسسه در تحقیق خود به بررسی بیش از پنج هزار گزارشی که پلیس از تصادفات تهیه کرده، پرداخته است. بکسل کردن
            حداقل یکی از خودروهای حاضر در تصادف و حضور نیروهای اورژانس در محل حادثه دو شرط اصلی در بررسی گزارش‌ها بوده است.
        </p>
        <br>
        <p>
            در گام بعدی تصادفات بر اساس نوع شرایط به پنج دسته تقسیم شده‌اند که
            عبارتند از: حسی و ادراکی، پیش‌بینی، برنامه‌ریزی و تصمیم‌گیری، اجرایی و عملکردی و در آخر ناتوانی.
        </p>
        <br>
        <p>
            نتایج تحقیق IIHS نشان می‌دهد تنها 24 درصد از تصادفات با اشتباهات حسی و ادراکی مرتبط هستند، 10 درصد
            سوانح هم ناشی از ناتوانی راننده در کنترل وسیله نقلیه بوده است. با توجه به اینکه فناوری خودران پتانسیل حذف این دو
            دسته از تصادفات را دارد، باید گفت که فراگیر شدن اتومبیل‌های بدون راننده تنها یک سوم از میزان تصادفات خواهد کاست.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/self2.jpg" alt="درباره ماشین خودران" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            آنطور که IIHS اعلام کرده، برای حذف دو سوم باقی‌مانده خودروسازان باید ایمنی را نسبت به
            فاکتورهای دیگری چون سرعت، هیجان و دیگر علایق مشتریان در اولویت قرار دادند.
        </p>
        <br>
        <p>
            با وجود پیشرفت‌های زیادی که در زمینه فناوری خودران حاصل شده، هنوز چند سالی با اتومبیل‌های بدون راننده فاصله داریم.
            در حال حاضر خودروسازان و شرکت‌های تکنولوژی حساب ویژه‌ای روی اتومبیل‌های بدون راننده باز کرده
            و فعالیت‌هایی مثل مطالعه، تماشای فیلم یا حتی خواب کوتاه در پشت فرمان را به مشتریان نوید می‌دهند.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/self3.jpg" alt="درباره ماشین خودران" onclick="scaleImg(this)">
    </div>
    <p>
        اما اگر نتایج تحقیق IIHS درست از آب دربیاید، خودروسازان به منظور
        کاهش حداکثری تصادفات باید چنین تبلیغاتی را کنار گذاشته و بیش از هر چیز دیگر بر ایمنی و رانندگی تدافعی تمرکز کنند.
    </p>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}


