
@{
    ViewBag.Title = "پردازنده و سیستم عامل اسپیس ایکس";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<article class="content">
    <header>
        <img src="~/imgs/imgM2.jpg" alt="داخل اسپیس ایکس">
        <h1>اسپیس ایکس از چه پردازنده و سیستم‌عاملی در راکت‌ها و فضاپیماها استفاده می‌کند؟</h1>
    </header>
    <div class="parts">
        <p>
            شنبه ۲۰ ماه مه (دهم خرداد ماه) اولین سفر انسان با یک فضاپیمای ساخته شده توسط شرکتی خصوصی رقم خورد و اسپیس اکس موفق شد پس از ۹ سال
            <span>سفری سرنشین دار را برای ایالات متحده رقم بزند</span>. در این سفر «باب بنکن» و «داگلاس هارلی» در نهایت <span>به ایستگاه فضایی بین‌المللی رسیدند</span>. اما آنچه که این دو را به مقصدشان رساند راکت فالکون ۹ بود که از سوخت راکت در کنار چندین پردازنده و سیستم‌عامل نیرو می‌گرفت.
        </p>
        <h4>پردازنده و سیتسم‌عامل مورد استفاده فالکون ۹</h4>
        <p>
            راکت فالکون ۹ مشابه با بسیاری از ابرکامپیوترها،‌ تجهیزات اینترنت اشیا و دیگر دستگاه‌های با وظایف حساس، بر لینوکس مبتنی است. سیستم‌عامل فالکون
            ۹ نسخه‌ای ساده شده از لینوکس است که روی سه پردازنده دو هسته‌ای ساده با معماری X86 کار می‌کند.
            نرم‌افزار پرواز هم به طور جداگانه روی هر پردازنده اجرا می‌شود و با زبان‌های C و یا ++C نوشته شده است.
            شاید این موارد به نظرتان ابتدایی بیاید و این موضوع بی دلیل نیست. پرازنده‌های فضاپیماها نسبت به جدیدترین و پیشرفته‌ترین پردازنده‌های روز بازار عقب‌تر
            هستند. این پردازنده‌ها برای فضاپیماها طراحی شده‌اند؛‌ فضاپیماهایی که فرایند طراحی آنها سال‌ها
            و حتی دهه‌ها طول کشیده است. به عنوان مثال ایستگاه فضایی بین‌المللی همچنان بر پردازنده‌های ۲۰
            مگاهرتزی اینتل 80386SX مبتنی است که به شدت قدیمی به حساب می‌آیند. از چیپ مورد استفاده در فالکون ۹
            اطلاعاتی در دست نیست اما گمان می‌رود با جدیدترین مدل‌های روز بازار حداقل ۱۰ سال فاصله داشته باشند.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/ISS.jpg" alt="عکس ماهواره بالای زمین" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            از آنجایی که این پردازنده‌ها برای دستور و فرمان مالتی‌پلکسر و دی‌مالتی‌پلکسر در
            ایستگاه فضایی به کار می‌روند برای وظایف دیگر مناسب نیستند. فضانوردان همچنین برای کارهای روزانه از لپتاپ‌های<span>اچ‌پی زدبوک 15s </span>
            مبتنی بر توزیع‌های <span>دبیان</span> یا <span>ساینتیفیک </span>لینوکس و نیز ویندوز ۱۰ بهره می‌برند. سیستم‌های مبتنی بر لینوکس به منظور ترمینال کنترل و فرمان به کار می‌روند در حالی که سیستم‌های مبتنی بر
            ویندوز ۱۰ برای استفاده‌های دیگری نظیر وب‌گردی،‌ ایمیل و تفریحات کاربرد دارند. معمولا تصور می‌شود که چیپ‌هایی که به فضا می‌روند با مدل‌های معمول تفاوت‌هایی داشته باشند. پردازنده‌هایی که در فضا کار می‌کنند باید در مقابل تشعشعات مقاوم باشند؛‌ در غیر این صورت در مقابل اثرات ناشی از تابش یونیزه کننده و تشعشعات کیهانی از کار می‌افتند. پردازنده‌های ویژه سفرهای فضایی به طور سفارشی و در طول سال‌ها طراحی می‌شوند و چندین سال آزمایش را پشت سر می‌گذارند تا در نهایت اجازه استفاده آنها در فضا صادر شود. به عنوان مثال ناسا انتظار
            دارد به عنوان نسل بعدی پردازنده‌های مصارف عمومی از گونه‌ای از ARM A53 استفاده کند؛ همان پردازنده‌ نه چندان جدیدی که در رزبری پای ۳ نیز تعبیه شده است. البته آماده شدن این پردازنده تا سال ۲۰۲۱ طول می‌کشد.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/ISS2.jpg" alt="پرتاب موشک" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            <span>اسپیس اکس </span>همچنین پیش از هر پرواز، عملیات تست نرم‌افزاری
            و سخت‌افزاری را روی زمین انجام می‌دهد و بدترین سناریوهای محتمل حین پرواز، بدون از دست دادن راکت،‌ شبیه‌سازی می‌شود.
        </p>
        <h4>سیستم‌عامل و نرم‌افزار فضاپیمای دراگون</h4>
        <p>
            فضاپیمای دراگون هم بر لینوکس و نرم‌افزار نوشته شده با زبان ++C مبتنی است و رندرهای نمایشگر لمسی از بر اساس جاوا اسکریپت و کرومیوم کار می‌کند. در صورتی که
            اشکالی در اجرای رابط کاربری پیش آید فضانوردان می‌توانند با استفاده از کلیدهای فیزیکی کنترل فضاپیما را در دست بگیرند.
        </p>
        <br>
        <p>
            به این ترتیب می‌توان گفت که
            به لطف سیستم‌عامل لینوکس و پردازنده‌های چندگانه،‌
            ایالات متحده بار دیگر موفق شده خود، ارسال فضانوردان به فضا را به دست بگیرد و از وابستگی به روسیه بکاهد.
        </p>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}

