
@{
    ViewBag.Title = "زیردریایی‌های بدون سرنشین در جست و جوی ثروت در اعماق دریا";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<article class="content">
    <header>
        <img src="~/imgs/imgMg1.jpg" alt="درباره زیردریایی">
        <h1>زیردریایی‌های بدون سرنشین و جستجوی تریلیون‌ها دلار ثروت در اعماق اقیانوس</h1>
    </header>
    <div class="parts">
        <p>
            در منطقه «Clarion-Clipperton» و در عمق ۴۵۷۲ متری اقیانوس آرام، خوشه‌های منگنز با ابعاد مشابه با سیب زمینی وجود دارد. این فلز نادر هم
            اکنون تبدیل به هدف صنعت معدن دریایی نوظهوری شده که علاوه بر جمع‌آوری آن‌ها، بدنبال نقشه‌برداری از کف اقیانوس‌ها است.
        </p>
        <br>
        <p>
            برای دستیابی به این فلز، ابتدا باید آن‌ها را در کف اقیانوس شناسایی کرد که برای این هدف از زیردریایی‌های بدون سرنشین استفاده می‌شود. این پهپادها می‌توانند زیر سطح
            دریا، نقشه‌برداری کنند. «ریچارد میلز»، معاون ریاست شرکت فروش تجهیزات رباتیک دریایی «Kongsberg Maritime» اعلام کرده که برای دسترسی به
            اطلاعات با دقت بالا، باید سنسور را نزدیک به محلی قرار دهید که در حال تماشای آن هستید که برای این کار، AUV یا زیردریایی خودکار استفاده کنید
        </p>
        <br>
        <p>
            شاید آینده دستگاه‌های بدون سرنشین با آسمان گره نخورده باشد، بلکه برای کمک به کشف مواد در زیر سطح دریا مورد استفاده قرار بگیرند. شرکت‌های خصوصی در حال توسعه دستگاه‌های
            زیردریایی‌های بدون سرنشین با سنسورهای بهتر و قابلیت‌های بیشتر هستند و اتحادیه اروپا به همراه دانشگاه‌ها در سراسر جهان بودجه چنین برنامه‌هایی را تامین می‌کنند.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/submarine.jpg" alt="ررباره زیردریایی ها" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            کف اقیانوس‌ها که دمای کمی دارند، به احتمال زیاد منبع غنی از فلزات نایاب زمین هستند. گفته می‌شود ارزش طلای قرار گرفته در کف اقیانوس‌ها به ۱۵۰ تریلیون دلار
            می‌رسد و ارزش سایر فلزات شامل منگنز، نیکل، مس و کبالت نیز کمتر از چندین تریلیون دلار نیست. با توجه به نیاز
            روزافزون صنایع الکترونیکی به فلزات نایاب، سرمایه‌گذاری دولت‌ها و کشورها برای جمع آوری منابع دریایی افزایش پیدا می‌کند.
        </p>
        <br>
        <p>
            شرکت استخراج معدن «DeepGreen Metals» سه منطقه دارای مجوز در اقیانوس آرام دارد که از جمله
            آن‌ها می‌توان به دو منبع با احتمال وجود میلیاردها تن فلز اشاره کرد. مدیرعامل این شرکت، «جرارد بارون» اعلام کرده
            که زیردریایی‌های بدون سرنشین برای مطالعات زیست محیطی در مناطقی که احتمال استخراج فلزات وجود دارد، بی‌نظیر هستند.
        </p>
        <br>
        <p>
            زیردریایی‌های بدون سرنشین در دهه‌های گذشته پیشرفت کرده‌اند اما این پیشرفت چندان چشمگیر نبوده. اولین زیردریایی بدون سرنشین در سال ۱۸۶۴
            خلق شد و در دهه ۵۰ میلادی، دانشگاه واشنگتن شروع به توسعه زیردریایی با همکاری نیروی دریایی
            ایالات متحده آمریکا کرد. از آن زمان تا به امروز، نوآوری‌های زیادی در این بخش صورت نگرفته،
            البته با افزایش تقاضا برای فلزات نایاب، سرمایه‌گذاری‌ها در این بخش افزایش داشته است.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/submarine2.jpg" alt="درباره زیر دریایی" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            میلز پیش‌بینی کرده فناوری جدید سنسورها در آینده، اطلاعات دقیق‌تری در اختیار افراد قرار می‌دهند.
            علاوه بر این، به اعتقاد میلز این دستگاه‌ها در زمان انجام عملیات قابلیت‌های بیشتری پیدا می‌کنند که شامل شناسایی خودکار اجسام می‌شود.
        </p>
        <div class="parts"></div>
        <p>
            بسیاری بدنبال نقشه‌برداری از کف دریا هستند که برای مثال می‌توان به
            همکاری گروهی از دانشمندان و مهندسان با پشتیبانی بنیاد «Nippon» ژاپن و «General Bathymetric Chart of the Oceans»
            برای نقشه‌برداری از کف اقیانوس تا سال ۲۰۳۰ اشاره کرد که البته تا به امروز کمتر از ۲۰ درصد این کار انجام شده است.
        </p>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}

