
@{
    ViewBag.Title = "VirtualDesktopWindows10";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<article class="content">
    <header>
        <img src="~/imgs/aside4.jpg" alt="درباره دسکتاپ ویندوز 10">
        <h1>چگونه از دسکتاپ مجازی در ویندوز 10 استفاده کنیم؟</h1>
    </header>
    <div class="parts">
        <p>
            <mark>
                سرانجام قابلیت دسکتاپ‌های مجازی به‌عنوان قابلیت داخلی به ویندوز 10 اضافه شد. اگر از جمله
                افرادی هستید که به‌صورت هم‌زمان اپ‌های زیادی را به‌صورت باز دارید تا از پی‌سی برای انجام کارهای
                متعدد استفاده می‌کنید دسکتاپ مجازی راه فوق‌العاده مناسبی را برای نظم دادن به کارتان ارائه می‌کند.
            </mark>
        </p>
        <br>
        <p>
            ویندوز 10 با دسکتاپ مجازی به شما این اجازه را می‌دهد تا چندین دسکتاپ مجزا درست کنید.
            هر کدام از این دسکتاپ‌ها می‌تواند شامل یک ویندوز و برنامه‌های متفاوت باشد. شاید ساده‌ترین مثال، جدا کردن کار
            از مسائل شخصی باشد. هم‌چنین، می‌توانید هر دسکتاپ را به انجام یک کار خاص اختصاص دهید. لینوکس و macOS از
            مدت‌ها پیش این قابلیت را داخل سیستم‌عامل‌های خود قرار داده بودند. در طی این مدتی که ویندوز از داشتن این ویژگی
            محروم بود برنامه‌های طرف سوم متعددی برای این منظور ارائه شدند، ولی سرانجام شاهد اضافه شدن آن به ویندوز 10 هستیم.
        </p>
        <br>
        <h4 class="title-custom">یک دسکتاپ مجازی جدید اضافه کنید</h4>
        <p>
            کار بسیار ساده‌ای است. در نوار ابزار، روی دکمه Task View کلیک کنید.
            اگر آن‌را نمی‌بینید، ممکن است خاموش‌اش کرده باشید. روی فضای خالی نوارابزار کلیک راست کنید و گزینه<q>Show task view button</q>
            را انتخاب کنید تا دوباره ظاهر شود. حتی، با انتخاب کلیدهای Windows+Tab روی کیبورد هم می‌توانید Task View را باز کنید.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dvwt.jpg" alt="عکس taskbar ویندوز 10" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            <q> Task View </q>یک سوییچر اپلیکیشن فول‌اسکرین است که تمام برنامه‌های در حال اجرای پی‌سی را نشان می‌دهد. کافی است روی یکی از آن‌ها کلیک کنید تا وارد آن شوید. اگر تا پیش از این دسکتاپ
            مجازی اضافی راه‌اندازی نکرده باشید، این تمام چیزی است که به شما نشان داده می‌شود. برای افزودن یک دسکتاپ جدید، روی دکمه<q> New Desktop </q>در گوشه راست پایین صفحه کلیک کنید.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dvwt2.jpg" alt="عکس دسکتاپ مجازی ویندوز 10" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            ویندوز 10 به شما اجازه می‌دهد هر چقدر دسکتاپ نیاز دارید، بسازید.
            درتست‌های انجام شده تا 200 دسکتاپ هم ساخته شده و ویندوز به هیچ مشکلی برخورد نکرده است. ولی بهتر است تعداد آن‌ها را روی حداقل نگه دارید.
        </p>
        <br>
        <h4 class="title-custom">بین دسکتاپ‌های مجازی سوییچ کنید</h4>
        <p>
            وقتی بیشتر از یک دستکاپ مجازی داشته باشید، Task View در قسمت پایین صفحه همه آن‌ها را به شما نشان می‌دهد. کافی است ماوس را روی آن‌ها نگه دارید تا ویندوز آن‌را برای‌تان باز کند.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dvwt3.jpg" alt="عکس سویچ دسکتاپ مجازی ویندوز 10" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            روی یک دسکتاپ کلیک کنید تا روی آن بروید یا یک پنجره مشخص
            را انتخاب کنید تا ضمن باز کردن دسکتاپ مربوطه وارد آن
            پنجره شوید. این کار مشابه سوییچ کردن بین اپ‌ها در یک دسکتاپ است.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dvwt4.jpg" alt="عکس سویچ دسکتاپ مجازی ویندوز 10" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            این کار را با کیبورد هم می‌توان انجام داد. کلیدهای Windows+Tab
            را با هم بگیرید تا Task View ظاهر شود. بعد از رها کردن کلیدها، دوباره با فشردن Tab
            و استفاده از کلیدهای راست و چپ در صف دسکتاپ‌ها حرکت کنید و با کلید Enter به دسکتاپ موردنظرتان بروید.
        </p>
        <br>
        <p>
            برای این کار، کلیدهای میان‌بر هم وجود دارد. با کلیدهای
            Windows+Ctrl+Left or Right بین دسکتاپ‌ها حرکت کنید. اگر از دستگاهی استفاده می‌کنید
            که نمایشگر لمسی دارد یا دارای تاچ‌پد فوق‌العاده دقیق است، با کشیدن چهار انگشتی بین دسکتاپ‌ها گشت‌وگذار کنید.
        </p>
        <br>
        <h4 class="title-custom">روی دسکتاپ‌های مجازی با ویندوز و اپ‌ها کار کنید</h4>
        <p>
            بعد از ساختن دسکتاپ مجازی و یادگیری سوییچ کردن بین آن‌ها نوبت به نحوه کار با ابزار مورد نیاز روی آن‌هاست.
        </p>
        <br>
        <p>
            اول از همه: اگر به یک دسکتاپ سوییچ کنید و یک اپ یا پنجره را باز کنید، روی دسکتاپ به‌صورت باز باقی می‌ماند.
            به‌عنوان مثال، اگر روی دسکتاپ 3 سوییچ کنید و پنجره کروم را باز کنید، این برنامه تا زمانی‌که آن‌را ببندید باز باقی می‌ماند.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dvwt5.jpg" alt="کار با اپ و ویندوز در دسکتاپ مجازی" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            در این‌جا، ممکن است مواردی پیش بیاید. فرض کنید از یک برنامه مانند کروم یا مایکروسافت ورد، چندین پنجره از آن روی دسکتاپ‌های مختلف به‌صورت باز داشته باشید. مثلا، یک دسکتاپ را به یک پروژه خاص اختصاص داده‌اید.
            می‌توانید پنجره‌های کروم، ورد و چیزهایی مانند آن را روی همین دسکتاپ باز کرده باشید. در همین حال، روی دسکتاپ‌های دیگر هم پنجره‌های باز کروم و ورد دارید.
        </p>
        <br>
        <p>
            اما برخی از اپ‌ها هستند که در یک زمان تنها یک پنجره از آن‌ها را می‌توانید باز کنید. اپ ویندوز استور بهترین مثال است. اگر این اپ استور را روی دسکتاپ 3
            باز کرده باشید امکان باز کردن مجدد آن روی دسکتاپ‌های دیگر وجود ندارد و به‌جای باز کردن دوباره آن، به دسکتاپی که روی آن باز است ارجاع داده می‌شوید.
        </p>
        <br>
        <p>
            متأسفانه، به‌جر باز کردن Task View و بررسی باز بودن این برنامه‌ها روی دسکتاپ‌های دیگر راه دیگری برای تشخیص وجود ندارد.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dvwt6.jpg" alt="task view در دسکتاپ مجازی" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            در همین مثال، وقتی به Task View نگاه می‌کنید می‌بینید که اپ استور فقط روی دسکتاپ 3 باز است و روی هیچ دسکتاپ دیگری به‌صورت باز وجود ندارد.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dvwt7.jpg" alt="task view در دسکتاپ مجازی" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            امکان جابه‌جایی اپ‌ها و پنجره‌ها بین دسکتاپ‌های مجازی وجود دارد. با زدن Windows+Tab
            می‌توانید Task View را باز کنید. ماوس را روی دسکتاپ مجازی حرکت دهید که شامل برنامه‌ای می‌شود که می‌خواهید جابه‌جا کنید. به‌سادگی، آن‌را به یک دسکتاپ مجازی دیگر بکشید تا به آن‌جا منتقل شود.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dvwt8.jpg" alt="جا به جایی در دسکتاپ مجازی" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            علاوه بر این، روی پنجره کلیک راست کنید، روی منوی "Move To" بروید و دسکتاپی را که می‌خواهید یک اپ را به آن‌جا منتقل کنید انتخاب کنید.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dvwt9.jpg" alt="انقال اپ در دسکتاپ مجازی" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <h4 class="title-custom">یک دسکتاپ مجازی را پاک کنید</h4>
        <p>
            برای این منظور، ابتدا کلیدهای Windows+Tab را بگیرید تا Task View
            باز شود. روی دکمه "Close" بالای دسکتاپی که می‌خواهید ببندید کلیک کنید.
        </p>
    </div>
    <div class="zoom custom">
        <img src="~/imgs/tutorials/dvwt10.jpg" alt="تصویر نحوه حذف دسکتاپ مجازی" onclick="scaleImg(this)">
    </div>
    <div class="parts">
        <p>
            اگر داخل دسکتاپی که قصد بستن آن‌را دارید اپ‌ها و پنجره‌های باز وجود داشته باشد، به‌سرعت به دسکتاپی که در سمت چپ دسکتاپ مذکور وجود دارد منتقل می‌شوند. به‌عنوان مثال، در هنگام بستن دسکتاپ 3 برنامه‌های باز آن به دسکتاپ 2 منتقل می‌شوند.
        </p>
        <br>
        <h4 class="title-custom">
            از  دسکتاپ مجازی به‌عنوان فضای کاری موقت برای تجربه‌ای عالی استفاده کنید
        </h4>
        <p>
            با تمام این‌ها، هنوز هم قابلیت دسکتاپ مجازی که در ویندوز 10 گنجانده شده در مقایسه با دسکتاپ مجازی سایر سیستم‌های عامل محدودیت‌های بسیاری دارد.
            عدم توانایی در انتخاب والپیپرهای مختلف برای دسکتاپ‌های گوناگون، عدم توانایی در
            انتخاب تم‌های رنگی مختلف، یا سایر امکانات شخصی‌سازی از جمله محدودیت‌های دسکتاپ مجازی در ویندوز 10 است.
        </p>
        <br>
        <p>
            هم‌چنین، راهی برای حرکت سریع به یک دسکتاپ خاص وجود ندارد بلکه باید بین آن‌ها بچرخید تا به مقصد موردنظرتان برسید. این دسکتاپ‌های مجازی حتی بعد از ریستارت پی‌سی هم باقی می‌مانند،
            امکانی که چندان هم جالب به‌نظر نمی‌رسد. با درنظر گرفتن این موضوع، می‌توان از دسکتاپ‌های مجازی به‌عنوان فضای کاری موقت برای نظم‌دهی و سازمان‌دهی کارهای شخصی استفاده کرد.
        </p>
        <div class="finish">
            <div class="dashed"></div>
        </div>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}
