
@{
    ViewBag.Title = "کشف ساختارهای ناشناخته پنهان در اعماق زمین";
    Layout = "~/Views/Shared/_Title.cshtml";
}
<article class="content">
    <header>
        <img src="~/imgs/post3.jpg" alt="Alternate Text" />
        <h1>کشف ساختارهای ناشناخته پنهان در اعماق زمین</h1>
    </header>
    <div class="parts">
        <p>
            دانشمندان موفق به کشف مناطق غیرعادی میان هسته مایع و لایه گوشته جامد زمین شده‌اند که از ساختارهای ناهمگن با جنس سنگ‌های داغ و متراکم تشکیل شده‌اند.
        </p>
        <br />
        <p>
            در این تحقیق، دانشمندان روی مرز هسته-گوشته زیر حوضه اقیانوس آرام تمرکز کردند
            و موفق به کشف چیزی شدند که پیش از این ناشناخته بود. آن‌ها به این موضوع پی بردند که سازه‌ها زیر «جزایر هاوایی» ابعاد بزرگتری دارند و همچنین به
            ساختارهای جدید زیر «جزایر آتشفشانی مارکیز» در جنوب اقیانوس آرام دست پیدا کردند.
        </p>
        <br />
        <p>
            زمین‌شناسان از زلزله برای مطالعه فضای داخلی زمین در زلزله‌شناسی استفاده کردند.
            در این رشته از موج لرزه‌ای ایجاد شده توسط زلزله مانند امواج صوتی در پژواک استفاده می‌شود. امواج لرزه‌ای می‌توانند هزاران مایل مسافت را طی کنند و در طول مسیر تغییرات در تراکم، دما یا ترکیب سنگ‌ها ایجاد کنند که نتیجه
            آن، تغییر سرعت، خم شده یا پراکندگی است و تولید پژواک‌ها که توسط تجهیزاتی با نام «لرزه‌سنج» قابل تشخیص است را در پی دارد.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/discoverUnknownStructuresHiddenDeepUndergroundImg.jpg" alt="عکس زمین شناسی زمین" onclick="scaleImg(this)" />
    </div>
    <div class="parts">
        <p>
            دانشمندان با استفاده از این اطلاعات می‌توانند مدل‌هایی را توسعه دهند که مشخصات فیزیکی
            لایه‌های زیر سطح زمین را توصیف می‌کند. محققان در تحقیق جدید ۷۰۰۰ لرزه‌نگاری از صدها زلزله به بزرگی ۶.۵ ریشتر و بیشتر در حوضه اقیانوس آرام در فاصله سال‌های ۱۹۹۰ تا ۲۰۱۸ را با استفاده از الگوریتم یادگیری ماشینی مورد بررسی قرار دادند.
        </p>
        <br />
        <p>
            مقاله این محققان که در ژورنال «Science» به چاپ رسیده، برای اولین بار یک دید جامع با این جزئیات از مرز هسته-گوشته در اختیار ما قرار می‌دهد.
            دانشمندان توانسته‌اند با استفاده یادگیری ماشینی مبتنی بر الگوریتم متوالی، هزاران پژواک در این مرز
            را به صورت همزمان مشاهده کنند. این موضوع نشان می‌دهد که ناحیه مربوط به مرز هسته-گوشته حاوی ساختارهای زیادی است که باعث تولید این پژواک‌ها می‌شود.
        </p>
        <br />
        <p>
            محققان در ۴۰ درصد تمام مسیر‌های موج زلزله با این پژواک‌ها مواجه شدند که
            تعجب آن‌ها را در پی داشت. در حالی که در گذشته تصور می‌شد این ساختارها کم و نایاب هستند، تحقیق جدید خلاف آن را نشان می‌‌دهد.
        </p>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}

