
@{
    ViewBag.Title = "IBM هرگونه عرضه، تحقیق و توسعه فناوری تشخیص چهره را متوقف کرد";
    Layout = "~/Views/Shared/_Title.cshtml";
}
<article class="content">
    <header>
        <img src="~/imgs/post1.jpg" alt="تصویری از هوش مصنوعی IBM" />
        <h1>IBM هرگونه عرضه، تحقیق و توسعه فناوری تشخیص چهره را متوقف کرد</h1>
    </header>
    <div class="parts">
        <p>
            شرکت IBM در بیانیه‌ای رسمی اعلام کرد که توسعه و عرضه‌ی فناوری تشخیص چهره
            عمومی را متوقف و عرضه فناوری به مقام‌های قانون‌گذار را بازنگری می‌کند.
        </p>
        <br />
        <p>
            اروین کریشنا، مدیرعامل<span> IBM </span>در اظهارنظری اعلام کرد
            که شرکتش دیگر نرم‌افزارهای تحلیل مبتنی بر<span> تشخیص چهره </span>را توسعه نمی‌دهد و به مقام‌های قانون‌گذار هم ارائه نمی‌کند. منظور او از این اظهارنظر که در پیامی به کنگره‌ی ایالات متحده ارسال شد، فناوری تشخیص چهره با کاربری عمومی بود. کریشنا نامه‌ی خود را به سناتورهایی از ایالت‌های نیوجرسی، نیویورک و کالیفرنیا ارسال کرد.
        </p>
        <br />
        <p>
            مدیرعامل IBM در بخشی از نامه‌ی خود به سناتورهای کنگره‌ی ایالات متحده نوشت:
        </p>
        <div class="rim">
            IBM به‌صورت جدی با هرگونه استفاده از فناوری تشخیص چهره برای نظارت عمومی، پروفایل‌سازی نژادی و نقض حقوق و
            آزادی‌های پایه‌ای شهروندان مخالفت می‌کند. این فناوری،‌ شامل مواردی که توسط عرضه‌کننده‌های دیگر ارائه می‌شوند هم می‌شود. ما با هرگونه استفاده که برخلاف سیاست‌ها و اصول اعتماد و شفاف‌سازی شرکت هستند، مخالف هستیم. ما اعتقاد داریم که اکنون بهترین زمان برای شروع کردن
            یک گفت‌وگوی ملی پیرامون چگونگی استفاده از فناوری تشخیص چهره توسط مقام‌ها و آژانس‌های قانون‌گذار داخلی است.
        </div>
        <br />
        <h4 class="title-custom">
            تبعیض نژادی و نقض حقوق شهروندی، از اشکالات اصلی فناوری تشخیص چهره هستند
        </h4>
        <p>
            فناوری تشخیص چهره در سا‌ل‌های گذشته به لطف پیشرفت‌های فراوان در<span> هوش مصنوعی، </span>بسیار بهبود یافته است. در همین دوران، فناوری مذکور که اغلب توسط شرکت‌های خصوصی با کمترین نظارت دولتی و تنظیم‌گری قانونی توسعه می‌یابد،
            اشکالات جدی ازلحاظ تعصب نژادی، جنسیتی، سنی و قومیتی پیدا کرد. درنتیجه، ابزارها برای مقام‌های قانون‌گذار و سازمان‌های اجرایی دولتی در سرتاسر جهان، بازدهی و پایداری لازم را ندارد. درواقع فناوری‌ها به‌خاطر همین اشکالات، بهانه‌ای برای نقض حقوق شهروندی هم شده‌اند.
        </p>
        <br />
        <p>
            سازمان ملی استاندارد و فناوری ایالات متحده در ماه دسامبر مطالعاتی روی فناوری تشخیص
            چهره داشت. در بخشی از یافته‌های مطالعه می‌خوانیم که «در اکثر فناوری‌های تشخیص چهره‌ی مورد بررسی، دقت سیستم بسته به تفاوت‌های جنسیتی و سنی تفاوت پیدا می‌کند». علاوه بر این موارد،
            فناوری‌ها در موارد گوناگونی تحت انتقاد شدید ازلحاظ حفظ حریم خصوصی قرار داشته‌اند.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/IMBSFRT.jpg" alt="درباره تشخیص چهره در خیابان" onclick="scaleImg(this)" />
    </div>
    <div class="parts">
        مطالعات بالا، فناوری توسعه‌یافته توسط<span> آمازون </span> را مورد تحلیل قرار نداده بود.
        شرکتی که به‌عنوان یکی از بزرگ‌ترین توسعه‌دهنده‌های فناوری تشخیص چهره، آن را دراختیار مقام‌های دولتی هم قرار می‌دهد. البته فناوری آن‌ها موسوم به Rekognition قبلا انتقادهای متعددی را
        به‌خاطر مشکلات دقت و تعصب نژادی متحمل شده است. نتایج تحقیقی که در سال ۲۰۱۸ توسط اتحادیه‌ی آزادی‌های شهروندی روی Rekognition انجام شد نشان داد که این برنامه، چهره‌ی ۲۸ عضو کنگره‌ی ایالات متحده را در میان خلافکاران شناسایی کرد.
    </div>
    <br />
    <div class="parts">
        <p>
            از شرکت‌های فعال دیگر در حوزه‌ی تشخیص چهره می‌توان<span> AI </span>Clearview را نام برد که از ابتدای سال جاری تحت انتقادهای شدید قرار داشت. رسانه‌ها افشا کردند که شرکت مذکور،
            ابزار تشخیص چهره‌ی خود را با سه میلیارد تصویر جمع‌آوری‌شده از<span> شبکه‌های اجتماعی آموزش </span>داده است که شرکت‌های خصوصی و دولتی متعددی از امکانات آن استفاده می‌کنند. شرکت از آن زمان فشارهای متعددی
            را تجربه می‌کند و هنوز هم پرونده‌های حقوقی پیرامون مشکلات گفته‌شده، جریان دارند. حتی<span> فیسبوک </span>هم از چالش‌های حقوقی تشخیص چهره در امان نبود
            و در ابتدای سال جاری به‌خاطر استفاده‌ی نادرست از فناوری، مجبور به پرداخت ۵۵۰ میلیون دلار غرامت شد.
        </p>
        <br />
        <p>
            IBM تاکنون بارها تلاش کرده است تا چالش تعصب و تبعیض نژادی را در فناوری تشخیص چهره حل کند. آن‌ها در سال ۲۰۱۸ دیتابیسی را به‌صورت عمومی عرضه کردند که با هدف کاهش تعصب و تبعیض در داده‌های آموزش هوش مصنوعی تشخیص چهره، توسعه یافته بود. ازطرفی یک
            افشاسازی درباره‌ی همین شرکت هم نشان داد که آن‌ها یک بسته‌ی داده‌ی آموزشی شامل حدود یک میلیون عکس از فلیکر نیز عرضه می‌کنند که بدون دریافت مجوز از سوژه‌ها جمع‌آوری شده بود. تصاویر مذکور، طبق مجوز و استاندارد Creative Commons به
            اشتراک گذاشته شده بودند. IBM همان زمان در بیانیه‌ای اعلام کرد که دیتاست مذکور تنها دردسترس محققان مورد تأیید خواهد بود
            و تصاویر هم فقط از حساب‌های کاربری عمومی دریافت شده‌اند. درنهایت آن‌ها به کاربران امکان دادند تا تصاویر خود را از دیتاست حذف کنند.
        </p>
        <br />
        <p>
            کریشنا در نامه‌ی اخیر خود همچنین به مشکلات نیروهای پلیس در ایالات متحده هم اشاره کرد.
            او معتقد به بازنگری عمیق در ساختار پلیس است و می‌گوید دولت فدرال و کنگره، باید نظارت بیشتری روی عملکرد این نیرو داشته باشند تا به‌سمت بی‌طرفی هدایت شود.
        </p>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}
