
@{
    ViewBag.Title = "قابلیت شروع مجدد از بروزرسانی جدید ویندوز 10 حذف شد";
    Layout = "~/Views/Shared/_Title.cshtml";
}
<article class="content">
    <header>
        <img src="~/imgs/post2.jpg" alt="عکسی مفهومی از آپدیت های ویندوز 10" />
        <h1>قابلیت شروع مجدد از بروزرسانی جدید ویندوز 10 حذف شد</h1>
    </header>
    <div class="parts">
        <p>
            بروزرسانی‌های سیستم عامل ویندوز 10 همواره مشکلات فراوانی را برای کاربران به همراه داشته است، به طور مثال بروزرسانی اخیر ویندوز 10 عملکرد دستگاه‌های<span> پرینتر </span>را با مشکلات جدی مواجه کرده است.
            به طور معمول کاربران ویندوز 10 برای خلاص شدن از دست مشکلات مختلف این سیستم عامل از قابلیت شروع مجدد یا همان fresh start استفاده می‌کنند، اما مایکروسافت این قابلیت کاربردی را در بروزرسانی ماه مه از ویندوز 10 حذف کرده است.
        </p>
        <br />
        <p>
            مایکروسافت در سال 2017 با عرضه بروزرسانی Creators برای ویندوز 10 قابلیت جدیدی را با نام fresh start در بخش تنظیمات اضافه کرد که کاربران با استفاده از آن می‌توانستند بدون حذف شدن اطلاعات شخصی ویندوز خود را از ابتدا نصب کنند. در این قابلیت تمام برنامه‌های پیش فرض و نصب شده
            بر روی ویندوز حذف می‌شدند، به همین دلیل مشکلات متداول که اکثر آن‌ها مربوط به فایل‌های رجیستری معیوب برنامه‌ها می‌شدند با قابلیت fresh start برطرف می‌شد.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/windows-security.jpg" alt="عکسی از ویندوز دیفندر" onclick="scaleImg(this)" />
    </div>
    <div class="parts">
        <p>
            به لطف این قابلیت یک نسخه بروزرسانی شده و کاملاً جدید از ویندوز 10 با حفظ اطلاعات شخصی و برخی
            از تنظیمات در اختیار کاربران قرار داده می‌شد. استفاده از این قابلیت در برخی از موارد مشکلات کاربران در استفاده
            بیش از حد از حافظه رم، سرعت خاموش و روشن شدن سیستم، مصرف باتری و سرعت وب‌گردی را برطرف می‌کرد.
        </p>
        <br />
        <p>
            حال به نظر می‌رسد که مایکروسافت در بروزرسانی ماه مه سال 2020 با شماره نسخه 2004،
            این قابلیت کاربردی را از ویندوز 10 حذف کرده است. پیش از این قابلیت fresh start در بخش تنظیمات امنیتی ویندوز 10
            (Windows Security) قرار داشت، اما هم اکنون این گزینه ناپدید شده است.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/reinstall windows 10.jpg" alt="عکسی از قابلیت clouad download ویندوز 10" onclick="scaleImg(this)" />
    </div>
    <div class="parts">
        <p>
            مایکروسافت قابلیت دیگری را با نام Cloud Download به عنوان جایگزین fresh start در اختیار کاربران قرار داده است، اما این قابلیت برنامه‌های پیش فرض نصب ش
            ده را حذف نمی‌کند و مشکلات کاربران دست نخورده باقی می‌ماند، زیرا در اکثر موارد فایل‌های ناقص برنامه‌های
            پیش فرض موجب به وجود آمدن مشکلات مختلف در سیستم عامل می‌شوند.
        </p>
        <br />
        <p>
            تا این لحظه مایکروسافت نسبت به این موضوع واکنشی نشان نداده و دلیل اصلی حذف این قابلیت کاربردی را مشخص نکرده است. این موضوع موجب عصبانیت کاربران ویندوز 10 شده و مایکروسافت در
            عرضه بروزرسانی‌های ویندوز با موجی از انتقاد‌ها مواجه شده است. مایکروسافت باید به فکر راهکارهای جدی‌تری برای مشکلات ویندوز 10 باشد، زیرا باگ‌های این سیستم عامل دردسر ساز تمامی ندارند.
        </p>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}

