
@{
    ViewBag.Title = "رندرها و مشخصات گلکسی تب S7 از تبلتی قدرتمند و جذاب خبر می‌دهد";
    Layout = "~/Views/Shared/_Title.cshtml";
}

<article class="content">
    <header>
        <img src="~/imgs/post4.jpg" alt="عکسی از تبلت گلکسی تب اس 7" />
        <h1>رندرها و مشخصات گلکسی تب S7 از تبلتی قدرتمند و جذاب خبر می‌دهد</h1>
    </header>
    <div class="parts">
        <p>
            در دنیایی که تبلت‌های اندرویدی با کیفیت به سختی پیدا می‌شوند، سامسونگ یکی از معدود تولیدکنندگان آنهاست و حالا مشخصات و رندرهای تبلت بعدی این شرکت افشا شده است.
        </p>
        <br />
        <p>
            سامسونگ خود را برای رونمایی از گلکسی تب S7 و S7 پلاس آماده می‌کند اما از همین حالا رندرها و بخشی از مشخصات این دو تبلت افشا شده است. بر اساس بنچمارکی که از گلکسی تب
            S7 پلاس در «گیک بنچ» رویت شده این دستگاه به اندروید ۱۰ و ۶ گیگابایت رم مجهز خواهد بود. البته بعید نیست با پیکربندی‌های دیگری هم روانه بازار شود.
        </p>
    </div>
    <div class="zoom">
        <img src="~/imgs/posts/Samsung-Galaxy-Tab-S7-5G-benchmark.jpg" alt="عکسی از امتیاز پرچمدارگیری گلکسی تب اس 7" onclick="scaleImg(this)" />
    </div>
    <div class="parts">
        <p>
            نکته جالبتر اشاره به مین بورد «kona» است که به معنی استفاده از چیپست قدرتمند اسنپدراگون
            ۸۶۵ خواهد بود. پیش از این هم برخی گمانه‌زنی ها در مورد بکارگیری این تراشه به گوش می‌رسید. گیک‌بنچ به دیگر مشخصات  گلکسی تب S7 پلاس اشاره نکرده اما بر اساس شایعات این دستگاه با نمایشگر ۱۲.۴ اینچی با نرخ رفرش ۱۲۰
            هرتز، باتری ۹۸۰۰ میلی آمپر ساعتی و پشتیبانی از شبکه 5G از راه خواهد رسید.
        </p>
        <br />
        <p>
            گلکسی تب S7 احتمالا از نظر سخت افزار پردازشی تفاوتی با نسخه پلاس نخواهد داشت اما به عنوان نسخه کوچکتر با نمایشگر ۱۱ اینچی و باتری ۷۷۶۰ میلی آمپرساعتی به دست کاربران می‌رسد. در مورد تاریخ عرضه این محصولات حرفی به میان نیامده اما انتظار می‌رود طی ماه آینده یا در مرداد ماه شاهد آن باشیم.
        </p>
    </div>
    <div class="slider-img">
        <div class="frame-slider">
            <img src="~/imgs/posts/slider/galaxyTabS7/galaxy-tab-s7-one.jpg" alt="switcher images" id="imgSwicher" />
        </div>
        <div class="flex-slider">
            <img src="~/imgs/posts/slider/galaxyTabS7/galaxy-tab-s7-one.jpg" alt="slider-one" onclick="swicherImg('1')" />
            <img src="~/imgs/posts/slider/galaxyTabS7/galaxy-tab-s7-two.jpg" alt="slider-two" onclick="swicherImg('2')" />
            <img src="~/imgs/posts/slider/galaxyTabS7/galaxy-tab-s7-three.jpg" alt="slider-three" onclick="swicherImg('3')" />
            <img src="~/imgs/posts/slider/galaxyTabS7/galaxy-tab-s7-fore.jpg" alt="slider-fore" onclick="swicherImg('4')" />
        </div>
    </div>
    <div class="parts">
        <p>
            در ادامه افشاگری‌های پیرامون تبلت‌های جدید سامسونگ<span> OnLeaks&#x40 </span>و افشاگر تازه‌کار دیگری به نام Pigtou رندرهای سه بعدی گلکسی تب S7 را منتشر کرده‌اند که کم و بیش همان چیزی
            است که از یک تبلت سال ۲۰۲۰ انتظار می‌رود.
        </p>
        <br />
        <p>
            طراحی نمایشگر بزرگ با حاشیه‌های اندک و دوربین دوگانه بی شباهت
            به آیپد پرو نیست. در پنل عقب و زیر دوربین تو رفتگی عمودی دیده می‌شود که احتمالا محل اتصال مغناطیسی قلم دیجیتال است. به گفته این افشاگران تب S7 ابعادی برابر با ۲۵۳.۷ در ۱۶۵.۳ در ۶.۳ میلیمتر خواهد داشت که
            از آیپد پرو ۱۱ اینچی امسال کمی باریکتر و کشیده‌تر است.
        </p>
    </div>
</article>
@section Comments{
    @Html.Action("Comments", "Home")
}
